{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.eggInput) }}</label>
    {{ form_widget(form.eggInput) }}
    <small>{{ form_help(form.eggInput) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.eggInput) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.breeder) }}</label>
    {{ form_widget(form.breeder) }}
    <small>{{ form_help(form.breeder) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.breeder) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.eggsNumber) }}</label>
    {{ form_widget(form.eggsNumber) }}
    <small>{{ form_help(form.eggsNumber) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.eggsNumber) }}
    </div>
</div>
{% if form.herd is defined %}
<div class="form-group">
    <label>{{ form_label(form.herd) }}</label>
    {{ form_widget(form.herd) }}
    <small>{{ form_help(form.herd) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.herd) }}
    </div>
</div>
{% endif %}
{% if form.chicksRecipient is defined %}
    <div class="form-group">
        <label>{{ form_label(form.chicksRecipient) }}</label>
        {{ form_widget(form.chicksRecipient) }}
        <small>{{ form_help(form.chicksRecipient) }}</small>
        <div class="form-text text-danger">
            {{ form_errors(form.chicksRecipient) }}
        </div>
    </div>
{% endif %}

{% if form.chickNumber is defined %}
    <div class="form-group">
        <label>{{ form_label(form.chickNumber) }}</label>
        {{ form_widget(form.chickNumber) }}
        <small>{{ form_help(form.chickNumber) }}</small>
        <div class="form-text text-danger">
            {{ form_errors(form.chickNumber) }}
        </div>
    </div>
{% endif %}
<button class="btn btn-danger">{{ button_label|default('eggs_inputs_details.form.button.save')|trans }}</button>
{{ form_end(form) }}

<script>
    let breeder = $('#eggs_inputs_details_breeder')
    let herds = $('#eggs_inputs_details_herd')
    let chicks = $('#eggs_inputs_details_chickNumber')
    let recipient = $('#eggs_inputs_details_chicksRecipient')
    breeder.change(function (){
        console.log(herds.closest('div'))
        herds.closest('div').remove()
        chicks.closest('div').remove()
        recipient.closest('div').remove()
    })
</script>