{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.eggInput) }}</label>
    {{ form_widget(form.eggInput) }}
    <small>{{ form_help(form.eggInput) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.eggInput) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.eggsNumber) }}</label>
    {{ form_widget(form.eggsNumber) }}
    <small>{{ form_help(form.eggsNumber) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.eggsNumber) }}
    </div>
</div>
<button class="btn btn-danger">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
