{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}eggs_inputs_details.index.title{% endtrans %}
    </h1>
    <table class="table table-sm">
        <thead class="thead-light">
        <tr>
            <th>
                {% trans %}eggs_inputs_details.index.table.id{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.eggs_input{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.deliveries{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.chicks_recipient{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.chicks_number{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.actions{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for eggs_inputs_detail in eggs_inputs_details %}
            <tr>
                <td>{{ eggs_inputs_detail.id }}</td>
                <td>{{ eggs_inputs_detail.eggInput.name }}</td>
                <td>
                    {% for delivery in eggs_inputs_detail.eggsInputsDetailsEggsDeliveries %}
                        <li>
                            <a href="{{ path('eggs_delivery_show', {'id': delivery.eggsDeliveries.id}) }}">
                    <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.breeder{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.herd.breeder.name }}
                                <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.herd{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.herd.name }}
                                <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.delivery{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.deliveryDate ? delivery.eggsDeliveries.deliveryDate|date('Y-m-d') : '' }}
                                <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.laying{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.firstLayingDate ? delivery.eggsDeliveries.firstLayingDate|date('Y-m-d') : '' }}
                                -
                                {{ delivery.eggsDeliveries.lastLayingDate ? delivery.eggsDeliveries.lastLayingDate|date('Y-m-d') : '' }}
                                <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.eggs{% endtrans %}
                    </span> {{ delivery.eggsNumber|number_format(0, ',', ' ') }}
                            </a>
                        </li>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('chicks_recipient_show', {'id': eggs_inputs_detail.chicksRecipient.id}) }}">
                        {{ eggs_inputs_detail.chicksRecipient.name }}
                    </a>
                </td>
                <td>{{ eggs_inputs_detail.chickNumber|number_format(0, ',', ' ') }}</td>
                <td>
                    <a class="badge badge-info"
                       href="{{ path('eggs_inputs_details_show', {'id': eggs_inputs_detail.id}) }}">
                        {% trans %}eggs_inputs_details.index.table.badge.show{% endtrans %}
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="badge badge-warning"
                           href="{{ path('eggs_inputs_details_edit', {'id': eggs_inputs_detail.id}) }}">
                            {% trans %}eggs_inputs_details.index.table.badge.edit{% endtrans %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">
                    {% trans %}eggs_inputs_details.index.table.no_found{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
