{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}eggs_inputs_details.index.title{% endtrans %}
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('eggs_inputs_details_new') }}">
            {% trans %}eggs_inputs_details.index.button.new{% endtrans %}
        </a>
    {% endif %}
    <table class="table table-sm">
        <thead class="thead-light">
        <tr>
            <th>
                {% trans %}eggs_inputs_details.index.table.id{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.eggs_input{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.deliveries{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.eggsNumber{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_details.index.table.actions{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for eggs_inputs_detail in eggs_inputs_details %}
            <tr>
                <td>{{ eggs_inputs_detail.id }}</td>
                <td>{{ eggs_inputs_detail.eggInput.name }}</td>
                <td>

                </td>
                <td>{{ eggs_inputs_detail.eggsNumber }}</td>
                <td>
                    <a class="badge badge-info"
                       href="{{ path('eggs_inputs_details_show', {'id': eggs_inputs_detail.id}) }}">
                        {% trans %}eggs_inputs_details.index.table.badge.show{% endtrans %}
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="badge badge-warning"
                           href="{{ path('eggs_inputs_details_edit', {'id': eggs_inputs_detail.id}) }}">
                            {% trans %}eggs_inputs_details.index.table.badge.edit{% endtrans %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">
                    {% trans %}eggs_inputs_details.index.table.no_found{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
