{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <div class="card m-2 shadow-lg p-1 mb-5 bg-body rounded d-print-none">
            <div class="card-body">
                <div class="accordion accordion-flush" id="accordionFlushPlanChick">
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="flush-headingDate">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDate" aria-expanded="false" aria-controls="flush-collapseDate">
                                {% trans %}plan_delivery_chick.index.accordion.plan.date{% endtrans %}
                            </button>
                        </h4>
                        <div id="flush-collapseDate" class="accordion-collapse collapse" aria-labelledby="flush-headingDate" data-bs-parent="#accordionFlushPlanChick">
                            <div class="accordion-body">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>
            {% trans %}transport_list.index.title{% endtrans %}
            {% if week %}
                Tydzień {{ week }}
            {% endif %}
        </h1>
        {% if is_granted("ROLE_MANAGER") %}
            {{ include('layout/buttons/new.html.twig', {pathLink: path('transport_list_choose_input'), text: 'transport_list.index.button.new' }) }}
        {% endif %}
        {% include 'layout/tables/thead.html.twig' %}
        <thead>
        <tr>
            <th>{% trans %}transport_list.index.table.date{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.farm{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.address{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.phone_number{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.distanceHatchery{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.distance{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.driver{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.departure_hour{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.arrival_hour{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.car{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.chicks{% endtrans %}</th>
            <th class="d-print-none">{% trans %}transport_list.index.table.actions{% endtrans %}</th>
        </tr>
        {% include 'layout/tables/tbody.html.twig' %}
        {% for transport_list in transport_lists %}
            {% set row = transport_list.farm|length %}
            {% for farmInputs in transport_list.transportInputsFarms %}
                {% if loop.first %}
                    <tr>
                        <td rowspan="{{ row }}">
                            {{ farmInputs.farm.eggInput.inputDate|date_modify('+21 day')|format_datetime('full', 'none', locale='pl') }}
                        </td>
                        <td>
                            {% if farmInputs.farm.chicksFarm.customer.name != farmInputs.farm.chicksFarm.name %}
                                {{ farmInputs.farm.chicksFarm.customer.name }}<br/>
                            {% endif %}
                            {{ farmInputs.farm.chicksFarm.name }}
                            <a href="{{ path('transport_list_protocol', {'farm': farmInputs.farm.id}) }}"><i class="far fa-file-pdf d-print-none"></i></a>
                        </td>
                        <td>
                            {{ farmInputs.farm.chicksFarm.postcode }}
                            {{ farmInputs.farm.chicksFarm.city }}
                            {{ farmInputs.farm.chicksFarm.street }}
                            {{ farmInputs.farm.chicksFarm.streetNumber }}<br/>
                        </td>
                        <td>
                            {{ farmInputs.farm.chicksFarm.phoneNumber }}<br/>
                        </td>
                        <td>{{ farmInputs.distance }}</td>
                        <td rowspan="{{ row }}">{{ transport_list.distance }}</td>
                        <td rowspan="{{ row }}">
                            {% for driver in transport_list.driver %}
                                {{ driver.firstname|slice(0,1) }}.{{ driver.lastname }}<br/>
                            {% endfor %}
                        </td>
                        <td rowspan="{{ row }}">{{ transport_list.departureHour ? transport_list.departureHour|date('H:i') : '' }}</td>
                        <td>{{ farmInputs.arrivalTime ? farmInputs.arrivalTime|date('H:i') : '' }}</td>
                        <td rowspan="{{ row }}">{{ transport_list.car.name }}</td>
                        <td>
                            {{ farmInputs.farm.chickNumber }}<br/>
                        </td>
                        <td rowspan="{{ row }}" class="d-print-none">
                            {{ include('layout/buttons/list_show.html.twig',
                                {pathLink: path('transport_list_show', {'id': transport_list.id})}) }}
                        </td>
                    </tr>
                {% endif %}
                {% if not loop.first %}
                    <tr>
                        <td>
                            {% if farmInputs.farm.chicksFarm.customer.name != farmInputs.farm.chicksFarm.name %}
                                {{ farmInputs.farm.chicksFarm.customer.name }}<br/>
                            {% endif %}
                            {{ farmInputs.farm.chicksFarm.name }}
                            <a href="{{ path('transport_list_protocol', {'farm': farmInputs.farm.id}) }}"><i class="far fa-file-pdf d-print-none"></i></a>
                        </td>
                        <td>
                            {{ farmInputs.farm.chicksFarm.postcode }}
                            {{ farmInputs.farm.chicksFarm.city }}
                            {{ farmInputs.farm.chicksFarm.street }}
                            {{ farmInputs.farm.chicksFarm.streetNumber }}<br/>
                        </td>
                        <td>
                            {{ farmInputs.farm.chicksFarm.phoneNumber }}<br/>
                        </td>
                        <td>{{ farmInputs.distance }}</td>
                        <td>{{ farmInputs.arrivalTime ? farmInputs.arrivalTime|date('H:i') : '' }}</td>
                        <td>
                            {{ farmInputs.farm.chickNumber }}<br/>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">{% trans %}transport_list.index.table.no_found{% endtrans %}</td>
            </tr>
        {% endfor %}
        {% include 'layout/tables/tfooter.html.twig' %}
        {% include 'layout/tables/tend.html.twig' %}
    </div>
{% endblock %}
