{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{% trans %}transport_list.show.title{% endtrans %}</h1>
        <div class="d-flex justify-content-center card-group">
            {% include 'layout/cards/chead.html.twig' %}
            {{ transport_list.farm.chicksFarm.name }} - {{ transport_list.farm.eggInput.inputDate|date_modify('+21 day')|date('Y-m-d') }}
            {% include 'layout/cards/cbody.html.twig' %}
            <dl class="row">
                <dd class="col-sm-5">{% trans %}transport_list.show.address{% endtrans %}</dd>
                <dt class="col-sm-7 text-end">
                    {{ transport_list.farm.chicksFarm.city }}<br/>
                    {{ transport_list.farm.chicksFarm.street }} {{ transport_list.farm.chicksFarm.streetNumber }}
                </dt>
                <dd class="col-sm-5">{% trans %}transport_list.show.phone_number{% endtrans %}</dd>
                <dt class="col-sm-7 text-end">{{ transport_list.farm.chicksFarm.phoneNumber }}</dt>
                <dd class="col-sm-5">{% trans %}transport_list.show.distance{% endtrans %}</dd>
                <dt class="col-sm-7 text-end">{{ transport_list.distance }}</dt>
                <dd class="col-sm-5">{% trans %}transport_list.show.departure_hour{% endtrans %}</dd>
                <dt class="col-sm-7 text-end">{{ transport_list.departureHour ? transport_list.departureHour|date('H:i') : '' }}</dt>
                <dd class="col-sm-5">{% trans %}transport_list.show.arrival_hour{% endtrans %}</dd>
                <dt class="col-sm-7 text-end">{{ transport_list.arrivalHourToFarm ? transport_list.arrivalHourToFarm|date('H:i') : '' }}</dt>
                <dd class="col-sm-5">{% trans %}transport_list.show.chicks{% endtrans %}</dd>
                <dt class="col-sm-7 text-end">{{ transport_list.farm.chickNumber }}</dt>
            </dl>
            {% include 'layout/cards/cfooter.html.twig' %}
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('transport_list/_delete_form.html.twig') }}
            {% endif %}
            {% if is_granted('ROLE_MANAGER') %}
                {{ include('layout/buttons/edit.html.twig',
                    {pathLink: path('transport_list_edit', {'id': transport_list.id}), text: 'transport_list.show.button.edit'}) }}
            {% endif %}
            {% include 'layout/cards/cend.html.twig' %}
        </div>
        {{ include('layout/buttons/back.html.twig',
            { pathLink: path('transport_list_index'), text: 'transport_list.show.button.back' }) }}
    </div>
{% endblock %}
