{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>
            {% trans %}eggs_inputs_selections.index.title{% endtrans %}
        </h1>
        {% include 'layout/tables/thead.html.twig' %}
        <tr>
            <th>{% trans %}eggs_inputs_selections.index.table.id{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.chick_number{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.cull_chick{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.unhatched{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.selection_date{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.herd{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.farm{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.input{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_selections.index.table.actions{% endtrans %}</th>
        </tr>
        {% include 'layout/tables/tbody.html.twig' %}
        {% for eggs_selection in eggs_selections %}
            <tr>
                <td>{{ eggs_selection.id }}</td>
                <td class="text-center">{{ eggs_selection.chickNumber }}</td>
                <td class="text-center">{{ eggs_selection.cullChicken }}</td>
                <td class="text-center">{{ eggs_selection.unhatched }}</td>
                <td class="text-center">{{ eggs_selection.selectionDate ? eggs_selection.selectionDate|date('Y-m-d') : '' }}</td>
                <td class="text-center">
                    {% for farmDelivery in eggs_selection.inputsFarmDelivery %}
                        {{ farmDelivery.delivery.herd.name }}
                    {% endfor %}
                </td>
                <td class="text-center">
                    {% for farmDelivery in eggs_selection.inputsFarmDelivery %}
                        {{ farmDelivery.inputsFarm.chicksFarm.name }}
                    {% endfor %}
                </td>
                <td class="text-center">
                    {% for farmDelivery in eggs_selection.inputsFarmDelivery %}
                        {{ farmDelivery.inputsFarm.eggInput.name }}
                    {% endfor %}
                </td>
                <td class="text-center">
                    <span class="btn-group">
                    {{ include('layout/buttons/list_show.html.twig',
                        {pathLink: path('eggs_selections_show', {'id': eggs_selection.id})}) }}
                        {% if is_granted('ROLE_MANAGER') %}
                            {{ include('layout/buttons/list_edit.html.twig',
                                {pathLink: path('eggs_selections_edit', {'id': eggs_selection.id})}) }}
                        {% endif %}
                    </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    {% trans %}eggs_inputs_selections.index.table.no_found{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        {% include 'layout/tables/tfooter.html.twig' %}
        {% include 'layout/tables/tend.html.twig' %}
    </div>
{% endblock %}
