{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}eggs_inputs_selections.index.title{% endtrans %}
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('eggs_selections_new') }}">
            {% trans %}eggs_inputs_selections.index.button.new{% endtrans %}
        </a>
    {% endif %}
    <table class="table table-sm table-hover">
        <thead class="thead-light">
        <tr>
            <th>
                {% trans %}eggs_inputs_selections.index.table.id{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_selections.index.table.chick_number{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_selections.index.table.cull_chick{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_selections.index.table.selection_date{% endtrans %}
            </th>
            <th>
                {% trans %}eggs_inputs_selections.index.table.actions{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for eggs_selection in eggs_selections %}
            <tr>
                <td>{{ eggs_selection.id }}</td>
                <td>{{ eggs_selection.chickNumber }}</td>
                <td>{{ eggs_selection.cullChicken }}</td>
                <td>{{ eggs_selection.selectionDate ? eggs_selection.selectionDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="badge badge-info" href="{{ path('eggs_selections_show', {'id': eggs_selection.id}) }}">
                        {% trans %}eggs_inputs_selections.index.table.badge.show{% endtrans %}
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="badge badge-warning"
                           href="{{ path('eggs_selections_edit', {'id': eggs_selection.id}) }}">
                            {% trans %}eggs_inputs_selections.index.table.badge.edit{% endtrans %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    {% trans %}eggs_inputs_selections.index.table.no_found{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
