{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}eggs_inputs_selections.show.title{% endtrans %}</h1>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        -{{ eggs_selection.selectionDate ? eggs_selection.selectionDate|date('Y-m-d') : '' }}
        {% include 'layout/cards/cbody.html.twig' %}
        <dl class="row">
            <dd class="col-sm-6">{% trans %}eggs_inputs_selections.show.chick_number{% endtrans %}</dd>
            <dt class="col-sm-6 text-end">{{ eggs_selection.chickNumber|number_format(0, ',', ' ') }}</dt>
            <dd class="col-sm-6">{% trans %}eggs_inputs_selections.show.cull_chick{% endtrans %}</dd>
            <dt class="col-sm-6 text-end">{{ eggs_selection.cullChicken|number_format(0, ',', ' ') }}</dt>
            <dd class="col-sm-6">{% trans %}eggs_inputs_selections.show.unhatched{% endtrans %}</dd>
            <dt class="col-sm-6 text-end">{{ eggs_selection.unhatched|number_format(0, ',', ' ') }}</dt>
            <dd class="col-sm-6">{% trans %}eggs_inputs_selections.show.herd{% endtrans %}</dd>
            <dt class="col-sm-6 text-end">
            </dt>
            <dd class="col-sm-6">{% trans %}eggs_inputs_selections.show.farm{% endtrans %}</dd>
            <dt class="col-sm-6 text-end">
            </dt>
        </dl>

        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('eggs_selections/_delete_form.html.twig') }}
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
            {{ include('layout/buttons/edit.html.twig',
                {pathLink: path('eggs_selections_edit', {'id': eggs_selection.id}), text: 'eggs_inputs_selections.show.button.edit'}) }}
        {% endif %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig',
        { pathLink: path('eggs_selections_index'), text: 'eggs_inputs_selections.show.button.back' }) }}

{% endblock %}
