{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}eggs_inputs_selections.show.title{% endtrans %}</h1>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {{ eggs_selection.eggsInputsDetail.eggInput.name }}
        {% include 'layout/cards/cbody.html.twig' %}
        <p class="card-text">
            {% trans %}eggs_inputs_selections.show.selection_date{% endtrans %}
            : {{ eggs_selection.selectionDate ? eggs_selection.selectionDate|date('Y-m-d') : '' }}
        </p>
        <p class="card-text">
            {% trans %}eggs_inputs_selections.show.chick_number{% endtrans %}
            : {{ eggs_selection.chickNumber }}
        </p>
        <p class="card-text">
            {% trans %}eggs_inputs_selections.show.cull_chick{% endtrans %}
            : {{ eggs_selection.cullChicken }}
        </p>
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('eggs_selections/_delete_form.html.twig') }}
            {{ include('layout/buttons/edit.html.twig',
                {pathLink: path('eggs_selections_edit', {'id': eggs_selection.id}), text: 'eggs_inputs_selections.show.button.edit'}) }}
        {% endif %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig',
        { pathLink: path('eggs_selections_index'), text: 'eggs_inputs_selections.show.button.back' }) }}

{% endblock %}
