{% extends 'base.html.twig' %}

{% block title %}EggsSelections{% endblock %}

{% block body %}
    <h1>EggsSelections</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eggs_selection.id }}</td>
            </tr>
            <tr>
                <th>ChickNumber</th>
                <td>{{ eggs_selection.chickNumber }}</td>
            </tr>
            <tr>
                <th>CullChicken</th>
                <td>{{ eggs_selection.cullChicken }}</td>
            </tr>
            <tr>
                <th>SelectionDate</th>
                <td>{{ eggs_selection.selectionDate ? eggs_selection.selectionDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('eggs_selections_index') }}">back to list</a>

    <a href="{{ path('eggs_selections_edit', {'id': eggs_selection.id}) }}">edit</a>

    {{ include('eggs_selections/_delete_form.html.twig') }}
{% endblock %}
