{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{% trans %}inputs_farm_delivery.show.title{% endtrans %}</h1>
        <div class="d-flex justify-content-center card-group">
            {% include 'layout/cards/chead.html.twig' %}
            <h3>{{ inputs_farm_delivery.inputsFarm.eggInput.name }}
                - {{ inputs_farm_delivery.inputsFarm.chicksFarm.name }}</h3>
            <h4>{{ inputs_farm_delivery.delivery.herd.breeder.name }}
                - {{ inputs_farm_delivery.delivery.herd.name }}</h4>
            {% include 'layout/cards/cbody.html.twig' %}
            <dl class="row">
                <dt class="col-sm-5">{% trans %}inputs_farm_delivery.show.eggs_number{% endtrans %}</dt>
                <dd class="col-sm-7">{{ inputs_farm_delivery.eggsNumber }}</dd>
            </dl>
            {% include 'layout/cards/cfooter.html.twig' %}
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('inputs_farm_delivery/_delete_form.html.twig') }}
            {% endif %}
            {% include 'layout/cards/cend.html.twig' %}
        </div>
        {{ include('layout/buttons/back.html.twig',
            { pathLink: path('eggs_inputs_show', {'id': inputs_farm_delivery.inputsFarm.eggInput.id}), text: 'inputs_farm_delivery.show.button.back' }) }}
    </div>
{% endblock %}
