{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 400px;
            padding: 6px 6px;
        }
    </style>
    <div class="card m-2 shadow p-3 mb-5 bg-body rounded">
        <h4 class="card-header">
            {% trans %}main_page.lighting.title{% endtrans %}
        </h4>
        <div class="card-horizontal">
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans %}main_page.lighting.table.inputs_name{% endtrans %}</th>
                        <th scope="col">{% trans %}main_page.lighting.table.date{% endtrans %}</th>
                        <th scope="col">{% trans %}main_page.lighting.table.eggs_number{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for input in lightings %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path('eggs_inputs_show', {'id': input.id}) }}">{{ input.name }}</a>
                            </th>
                            <td>{{ input.inputDate ? input.inputDate|date_modify("+12 day")|date('Y-m-d') : '' }}</td>
                            {% set eggs = 0 %}
                            {% for delivery in input.inputDeliveries %}
                                {% set eggs = eggs + delivery.eggsNumber %}
                            {% endfor %}
                            <td>{{ eggs|number_format(0, '', ' ') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {{ include('layout/buttons/back.html.twig',
                { pathLink: path('no_lighting_index'), text: 'main_page.lighting.list'}) }}
        </div>
    </div>
{% endblock %}
