{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 400px;
            padding: 6px 6px;
        }
    </style>
    <div class="card ">
        <h4 class="card-header">
            {% trans %}main_page.picking.title{% endtrans %}
        </h4>
        <div class="card-horizontal">
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            {% trans %}main_page.picking.table.inputs_name{% endtrans %}
                        </th>
                        <th scope="col">
                            {% trans %}main_page.picking.table.date{% endtrans %}
                        </th>
                        <th scope="col">
                            {% trans %}main_page.picking.table.chicks_number{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for selection in selections %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path('eggs_inputs_show', {'id': selection.0.id}) }}">{{ selection.0.name }}</a>
                            </th>
                            <td>{{ selection.0.inputDate ? selection.0.inputDate|date_modify("+21 day")|date('Y-m-d') : '' }}</td>
                            <td>{{ selection.chicks|number_format(0, ',', ' ') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {{ include('layout/buttons/back.html.twig',
                { pathLink: path('no_selection_index'), text: 'main_page.picking.list'}) }}
        </div>
    </div>
{% endblock %}
