{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 400px;
            padding: 6px 6px;
        }
    </style>
    <div class="card ">
        <h4 class="card-header">
            {% trans %}main_page.recipient.title{% endtrans %}
        </h4>
        <div class="card-horizontal">
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th scope="row">{% trans %}main_page.recipient.body.recipient_number{% endtrans %}</th>
                        <td>{{ recipients.recipientsNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans %}main_page.recipient.body.farm_number{% endtrans %}</th>
                        <td>{{ farms.farmNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans %}main_page.recipient.body.chicks_number{% endtrans %}</th>
                        <td>{{ inputs.chicks|number_format(0, ',', ' ') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            {{ include('layout/buttons/back.html.twig',
                { pathLink: path('chicks_recipient_index'), text: 'main_page.recipient.list'}) }}
            {% if is_granted('ROLE_MANAGER') %}
                {{ include('layout/buttons/create.html.twig',
                    { pathLink: path('chicks_recipient_new'), text: 'main_page.recipient.new' }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
