{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.partIndex) }}</label>
    {{ form_widget(form.partIndex) }}
    <small>{{ form_help(form.partIndex) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.partIndex) }}
    </div>
</div>
{{ include('layout/buttons/create.html.twig', {text: 'eggs_delivery.form.button.save'}) }}
{{ form_end(form) }}
