{% block body %}
<table class="table table-sm table-hover">
    <thead class="bg-primary text-white">
    <tr>
        <th>{% trans %}eggs_inputs.show.table.delivery.breeder{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.show.table.delivery.herd{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.show.table.delivery.delivery_date{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.show.table.delivery.laying_date{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.show.table.delivery.eggs_number{% endtrans %}</th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for inputFarmDelivery in detail.inputsFarmDeliveries %}
        <tr>
            <td>
                {{ inputFarmDelivery.delivery.herd.breeder.name }}
            </td>
            <td class="text-center">
                {{ inputFarmDelivery.delivery.herd.name }}
            </td>
            <td class="text-center">
                {{ inputFarmDelivery.delivery.deliveryDate ? inputFarmDelivery.delivery.deliveryDate|date('Y-m-d') : '' }}
            </td>
            <td class="text-center">
                {{ inputFarmDelivery.delivery.firstLayingDate ? inputFarmDelivery.delivery.firstLayingDate|date('Y-m-d') : '' }}
                -
                {{ inputFarmDelivery.delivery.lastLayingDate ? inputFarmDelivery.delivery.lastLayingDate|date('Y-m-d') : '' }}
            </td>
            <td class="text-center">
                {{ inputFarmDelivery.eggsNumber|number_format(0, ',', ' ') }}
            </td>
        </tr>
    {% endfor %}
    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
