{% block body %}
    <ul>
        {% for delivery in deliveries %}
            <li>
                <a href="{{ path('eggs_delivery_show', {'id': delivery.eggsDeliveries.id}) }}">
                    <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.breeder{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.herd.breeder.name }}
                    <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.herd{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.herd.name }}
                    <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.delivery{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.deliveryDate ? delivery.eggsDeliveries.deliveryDate|date('Y-m-d') : '' }}
                    <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.laying{% endtrans %}
                    </span> {{ delivery.eggsDeliveries.firstLayingDate ? delivery.eggsDeliveries.firstLayingDate|date('Y-m-d') : '' }}
                    -
                    {{ delivery.eggsDeliveries.lastLayingDate ? delivery.eggsDeliveries.lastLayingDate|date('Y-m-d') : '' }}
                    <span class="badge badge-pill badge-info">
                        {% trans %}eggs_delivery.list.eggs{% endtrans %}
                    </span> {{ delivery.eggsNumber|number_format(0, ',', ' ') }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}