{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}eggs_inputs.show.title{% endtrans %}</h1>
    <a class="btn btn-primary" href="{{ path('eggs_inputs_index') }}">
        {% trans %}eggs_inputs.show.button.back{% endtrans %}
    </a>
    <div class="d-flex justify-content-center card-group">
        <div class="card text-white bg-secondary">
            <h5 class="card-header text-white bg-info">
                {{ eggs_input.name }}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    {% trans %}eggs_inputs.show.input_date{% endtrans %}
                    : {{ eggs_input.inputDate ? eggs_input.inputDate|date('Y-m-d') : '' }}
                </p>
            </div>
            <div class="card-footer bg-transparent border-success d-flex">
                <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="d-flex">
                    {{ include('eggs_inputs/_delete_form.html.twig') }}
                    <a class="btn btn-warning" href="{{ path('eggs_inputs_edit', {'id': eggs_input.id}) }}">
                        {% trans %}eggs_inputs.show.button.edit{% endtrans %}
                    </a>
                    </li>
                    <hr>
                    <li class="d-flex">{% trans %}eggs_inputs.show.card.footer.add{% endtrans %}</li>
                    <li class="d-flex">
                    <a class="btn btn-success disabled" href="" disabled>
                        {% trans %}eggs_inputs.show.button.lighting{% endtrans %}
                    </a>
                    <a class="btn btn-success disabled" href="" disabled>
                        {% trans %}eggs_inputs.show.button.transfer{% endtrans %}
                    </a>
                    <a class="btn btn-success disabled" href="" disabled>
                        {% trans %}eggs_inputs.show.button.selection{% endtrans %}
                    </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th rowspan="2">
                {% trans %}eggs_inputs.show.table.id{% endtrans %}
            </th>
            <th rowspan="2">
                {% trans %}eggs_inputs.show.table.chicks_recipient{% endtrans %}
            </th>
            <th rowspan="2">
                {% trans %}eggs_inputs.show.table.chick{% endtrans %}
            </th>
            <th rowspan="2">
                {% trans %}eggs_inputs.show.table.deliveries{% endtrans %}
            </th>
            <th colspan="2">
                {% trans %}eggs_inputs.show.table.lighting.title{% endtrans %}
            </th>
            <th colspan="2">
                {% trans %}eggs_inputs.show.table.transfer.title{% endtrans %}
            </th>
            <th colspan="3">
                {% trans %}eggs_inputs.show.table.selection.title{% endtrans %}
            </th>
        </tr>
        <tr>
            <th>{% trans %}eggs_inputs.show.table.lighting.date{% endtrans %}</th>
            <th>{% trans %}eggs_inputs.show.table.lighting.waste_eggs{% endtrans %}</th>
            <th>{% trans %}eggs_inputs.show.table.transfer.date{% endtrans %}</th>
            <th>{% trans %}eggs_inputs.show.table.transfer.waste_eggs{% endtrans %}</th>
            <th>{% trans %}eggs_inputs.show.table.selection.date{% endtrans %}</th>
            <th>{% trans %}eggs_inputs.show.table.selection.waste_eggs{% endtrans %}</th>
            <th>{% trans %}eggs_inputs.show.table.selection.chicks{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for input_detail in details_input %}
            <tr>
                <td>{{ input_detail.id }}</td>
                <td>{{ input_detail.chicksRecipient.name }}</td>
                <td>{{ input_detail.chickNumber|number_format(0, ',', ' ') }}</td>
                <td>
                    <table class="table table-sm table-hover table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>{% trans %}eggs_inputs.show.table.delivery.breeder{% endtrans %}</th>
                            <th>{% trans %}eggs_inputs.show.table.delivery.herd{% endtrans %}</th>
                            <th>{% trans %}eggs_inputs.show.table.delivery.delivery_date{% endtrans %}</th>
                            <th>{% trans %}eggs_inputs.show.table.delivery.laying_date{% endtrans %}</th>
                            <th>{% trans %}eggs_inputs.show.table.delivery.eggs_number{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for delivery in input_detail.eggsInputsDetailsEggsDeliveries %}
                            <tr>
                                <td>
                                    {{ delivery.eggsDeliveries.herd.breeder.name }}
                                </td>
                                <td>
                                    {{ delivery.eggsDeliveries.herd.name }}
                                </td>
                                <td>
                                    {{ delivery.eggsDeliveries.deliveryDate ? delivery.eggsDeliveries.deliveryDate|date('Y-m-d') : '' }}
                                </td>
                                <td>
                                    {{ delivery.eggsDeliveries.firstLayingDate ? delivery.eggsDeliveries.firstLayingDate|date('Y-m-d') : '' }}
                                    -
                                    {{ delivery.eggsDeliveries.lastLayingDate ? delivery.eggsDeliveries.lastLayingDate|date('Y-m-d') : '' }}
                                </td>
                                <td>
                                    {{ delivery.eggsNumber|number_format(0, ',', ' ') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    {% for lighting in input_detail.eggsInputsLightings %}
                        {{ lighting.lightingDate ? lighting.lightingDate|date('Y-m-d') : '' }}
                    {% endfor %}
                </td>
                <td>{% for lighting in input_detail.eggsInputsLightings %}
                        {{ lighting.wasteEggs|number_format(0, ',', ' ') }}
                    {% endfor %}
                </td>
                <td>
                    {% for transfer in input_detail.eggsInputsTransfers %}
                        {{ transfer.transferDate ? transfer.transferDate|date('Y-m-d') : '' }}
                    {% endfor %}
                </td>
                <td>{% for transfer in input_detail.eggsInputsTransfers %}
                        {{ transfer.wasteEggs|number_format(0, ',', ' ') }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
