{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}eggs_inputs.show.title{% endtrans %}</h1>
    <a class="btn btn-primary" href="{{ path('eggs_inputs_index') }}">
        {% trans %}eggs_inputs.show.button.back{% endtrans %}
    </a>
    <div class="d-flex justify-content-center card-group">
        <div class="card">
            <h5 class="card-header">
                {{ eggs_input.name }}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    {% trans %}eggs_inputs.show.input_date{% endtrans %}
                    : {{ eggs_input.inputDate ? eggs_input.inputDate|date('Y-m-d') : '' }}
                </p>
            </div>
            <div class="card-footer bg-transparent border-success d-flex">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('eggs_inputs/_delete_form.html.twig') }}
                    <a class="btn btn-warning" href="{{ path('eggs_inputs_edit', {'id': eggs_input.id}) }}">
                        {% trans %}eggs_inputs.show.button.edit{% endtrans %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
<table class="table table-sm">
    <thead class="thead-light">
        <th>
            {% trans %}eggs_inputs.show.table.id{% endtrans %}
        </th>
        <th>
            {% trans %}eggs_inputs.show.table.chick{% endtrans %}
        </th>
        <th>
            {% trans %}eggs_inputs.show.table.deliveries{% endtrans %}
        </th>
    </thead>
    <tbody>
    {% for input_detail in details_input %}
    <tr>
        <td>{{ input_detail.id }}</td>
        <td>{{ input_detail.chickNumber|number_format(0, ',', ' ') }}</td>
        <td>{{ render(controller('App\\Controller\\EggsDeliveryController::deliveriesInput', {'inputDetails': input_detail})) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
