{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}eggs_inputs.show.title{% endtrans %}</h1>
    <a class="btn btn-primary" href="{{ path('eggs_inputs_index') }}">
        {% trans %}eggs_inputs.show.button.back{% endtrans %}
    </a>
    <a class="btn btn-success" href="{{ path('eggs_inputs_xls', {'id': eggs_input.id}) }}">
        {% trans %}eggs_inputs.show.button.xls{% endtrans %}
    </a>
    <div class="d-flex justify-content-center card-group">
        <div class="card text-white bg-secondary">
            <h5 class="card-header text-white bg-info">
                {{ eggs_input.name }}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    {% trans %}eggs_inputs.show.input_date{% endtrans %}
                    : {{ eggs_input.inputDate ? eggs_input.inputDate|date('Y-m-d') : '' }}
                </p>
            </div>
            <div class="card-footer bg-transparent border-success d-flex">
                <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="d-flex">
                            {{ include('eggs_inputs/_delete_form.html.twig') }}
                            <a class="btn btn-warning" href="{{ path('eggs_inputs_edit', {'id': eggs_input.id}) }}">
                                {% trans %}eggs_inputs.show.button.edit{% endtrans %}
                            </a>
                            <a class="btn btn-success"
                               href="{{ path('eggs_inputs_details_new', {'inputs': eggs_input.id}) }}">
                                {% trans %}eggs_inputs.show.button.add_delivery{% endtrans %}
                            </a>
                        </li>
                        <hr>
                        <li class="d-flex">{% trans %}eggs_inputs.show.card.footer.add{% endtrans %}</li>
                        <li class="d-flex">
                            <div class="dropdown">
                                <button
                                        class="btn btn-success dropdown-toggle"
                                        type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                >
                                    {% trans %}eggs_inputs.show.button.lighting{% endtrans %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for breeder in breeders %}
                                        <a class="dropdown-item"
                                           href="{{ path('eggs_inputs_lighting_new', {'inputs': eggs_input.id, 'breeder': breeder.id}) }}"
                                        >{{ breeder.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button
                                        class="btn btn-success dropdown-toggle"
                                        type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                >
                                    {% trans %}eggs_inputs.show.button.transfer{% endtrans %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for breeder in breeders %}
                                        <a class="dropdown-item"
                                           href="{{ path('eggs_inputs_transfers_new', {'inputs': eggs_input.id, 'breeder': breeder.id}) }}"
                                        >{{ breeder.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button
                                        class="btn btn-success dropdown-toggle"
                                        type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                >
                                    {% trans %}eggs_inputs.show.button.selection{% endtrans %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for breeder in breeders %}
                                        <a class="dropdown-item"
                                           href="{{ path('eggs_selections_new', {'inputs': eggs_input.id, 'breeder': breeder.id}) }}"
                                        >{{ breeder.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <hr>
    {% include 'eggs_inputs/show_delivery.html.twig' %}

{% endblock %}
