{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}eggs_inputs.show.title{% endtrans %}</h1>
    {{ include('layout/buttons/back.html.twig', { pathLink: path('eggs_inputs_index'), text: 'eggs_inputs.show.button.back' }) }}

    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {{ eggs_input.name }}
        {% include 'layout/cards/cbody.html.twig' %}
        <p class="card-text">
            {% trans %}eggs_inputs.show.input_date{% endtrans %}
            : {{ eggs_input.inputDate ? eggs_input.inputDate|date('Y-m-d') : '' }}
        </p>
        {% include 'layout/cards/cfooter.html.twig' %}
        <ul>
            {% if is_granted('ROLE_MANAGER') %}
                <li class="d-flex">
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('eggs_inputs/_delete_form.html.twig') }}
                    {% endif %}
                    {{ include('layout/buttons/edit.html.twig',
                        {pathLink: path('eggs_inputs_edit', {'id': eggs_input.id}), text: 'eggs_inputs.show.button.edit'}) }}
                    {{ include('layout/buttons/add.html.twig',
                        {pathLink: path('inputs_farm_new', {'id': eggs_input.id}), text: 'eggs_inputs.show.button.add_farm'}) }}
                </li>
                <hr>
                <li class="d-flex">{% trans %}eggs_inputs.show.card.footer.add{% endtrans %}</li>
                <li class="d-flex">
                    {{ include('layout/modals/production_modal.html.twig',
                        { title: 'eggs_inputs.show.button.lighting.new', body: herdsEggs, pathLink: 'eggs_inputs_lighting_new', class: 'btn-warning' }) }}
                    {{ include('layout/modals/production_modal.html.twig',
                        { title: 'eggs_inputs.show.button.lighting.correct',
                            body: herdsEggs, pathLink: 'eggs_inputs_lighting_correct', class: 'btn-warning' }) }}
                    {{ include('eggs_inputs/details/transfer_modal.html.twig',
                        { title: 'eggs_inputs.show.button.transfer', body: herdsEggs, pathLink: 'eggs_inputs_transfers_new', class: 'btn-success' }) }}
                    {{ include('eggs_inputs/details/transfer_modal.html.twig',
                        { title: 'eggs_inputs.show.button.selection', body: herdsEggs, pathLink: 'eggs_selections_new', class: 'btn-danger' }) }}
                </li>
            {% endif %}
        </ul>
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    <hr>
    <div class="accordion accordion-flush" id="InputsDetails">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingChicks">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseChicks" aria-expanded="false"
                        aria-controls="flush-collapseChicks">
                    {% trans %}eggs_inputs.show.accordion.chick{% endtrans %}
                </button>
            </h2>
            <div id="flush-collapseChicks" class="accordion-collapse collapse" aria-labelledby="flush-headingChicks"
                 data-bs-parent="#InputsDetails">
                <div class="accordion-body">
                    {% include 'eggs_inputs/show_customer_delivery.html.twig' %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEggs">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEggs" aria-expanded="false" aria-controls="flush-collapseEggs">
                    {% trans %}eggs_inputs.show.accordion.production{% endtrans %}
                </button>
            </h2>
            <div id="flush-collapseEggs" class="accordion-collapse collapse" aria-labelledby="flush-headingEggs"
                 data-bs-parent="#InputsDetails">
                <div class="accordion-body">
                    {% include 'eggs_inputs/show_supplier_delivery.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
