{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}eggs_inputs.show.title{% endtrans %}</h1>
    <a class="btn btn-primary" href="{{ path('eggs_inputs_index') }}">
        {% trans %}eggs_inputs.show.button.back{% endtrans %}
    </a>
    <a class="btn btn-success" href="{{ path('eggs_inputs_xls', {'id': eggs_input.id}) }}">
        {% trans %}eggs_inputs.show.button.xls{% endtrans %}
    </a>
    <div class="d-flex justify-content-center card-group">
        <div class="card text-white bg-secondary">
            <h5 class="card-header text-white bg-info">
                {{ eggs_input.name }}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    {% trans %}eggs_inputs.show.input_date{% endtrans %}
                    : {{ eggs_input.inputDate ? eggs_input.inputDate|date('Y-m-d') : '' }}
                </p>
            </div>
            <div class="card-footer bg-transparent border-success d-flex">
                <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="d-flex">
                            {{ include('eggs_inputs/_delete_form.html.twig') }}
                            <a class="btn btn-warning" href="{{ path('eggs_inputs_edit', {'id': eggs_input.id}) }}">
                                {% trans %}eggs_inputs.show.button.edit{% endtrans %}
                            </a>
                        </li>
                        <hr>
                        <li class="d-flex">{% trans %}eggs_inputs.show.card.footer.add{% endtrans %}</li>
                        <li class="d-flex">
                            <div class="dropdown">
                                <button
                                        class="btn btn-success dropdown-toggle"
                                        type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                >
                                    {% trans %}eggs_inputs.show.button.lighting{% endtrans %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for breeder in breeders %}
                                    <a class="dropdown-item"
                                       href="{{ path('eggs_inputs_lighting_new', {'inputs': eggs_input.id, 'breeder': breeder.id}) }}"
                                    >{{ breeder.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="btn btn-success disabled" href="" disabled>
                                {% trans %}eggs_inputs.show.button.transfer{% endtrans %}
                            </a>
                            <a class="btn btn-success disabled" href="" disabled>
                                {% trans %}eggs_inputs.show.button.selection{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th rowspan="2" class="align-middle">
                {% trans %}eggs_inputs.show.table.id{% endtrans %}
            </th>
            <th rowspan="2" class="align-middle">
                {% trans %}eggs_inputs.show.table.chicks_recipient{% endtrans %}
            </th>
            <th rowspan="2" class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.chick{% endtrans %}
            </th>
            <th rowspan="2" class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.deliveries{% endtrans %}
            </th>
            <th colspan="2" class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.lighting.title{% endtrans %}
            </th>
            <th colspan="2" class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.transfer.title{% endtrans %}
            </th>
            <th colspan="4" class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.selection.title{% endtrans %}
            </th>
        </tr>
        <tr>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.lighting.date{% endtrans %}
            </th>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.lighting.waste_eggs{% endtrans %}
            </th>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.transfer.date{% endtrans %}
            </th>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.transfer.waste_eggs{% endtrans %}
            </th>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.selection.date{% endtrans %}
            </th>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.selection.chicks{% endtrans %}
            </th>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.selection.cull_chicks{% endtrans %}
            </th>
            <th class="text-center align-middle">
                {% trans %}eggs_inputs.show.table.selection.unhatched{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for detail in details_input %}
            <tr>
                <td rowspan="2" class="align-middle">
                    {{ detail.id }}
                </td>
                <td rowspan="2" class="align-middle">
                    {{ detail.chicksRecipient.name }}
                </td>
                <td rowspan="2"
                    class="text-center align-middle">{{ detail.chickNumber|number_format(0, ',', ' ') }}</td>
                <td rowspan="2">
                    {% include('eggs_delivery/inputs_delivery.html.twig') %}
                </td>
                <td class="text-center align-middle">
                    {% for lighting in detail.eggsInputsLightings %}
                        {{ lighting.lightingDate ? lighting.lightingDate|date('Y-m-d') : '' }}
                    {% endfor %}
                </td>
                <td class="text-center align-middle">{% for lighting in detail.eggsInputsLightings %}
                        {{ lighting.wasteEggs|number_format(0, ',', ' ') }}
                    {% endfor %}
                </td>
                <td class="text-center align-middle">
                    {% for transfer in detail.eggsInputsTransfers %}
                        {{ transfer.transferDate ? transfer.transferDate|date('Y-m-d') : '' }}
                    {% endfor %}
                </td>
                <td class="text-center align-middle">{% for transfer in detail.eggsInputsTransfers %}
                        {{ transfer.wasteEggs|number_format(0, ',', ' ') }}
                    {% endfor %}
                </td>
                <td class="text-center align-middle">
                    {% for selection in detail.eggsSelections %}
                        {{ selection.selectionDate ? selection.selectionDate|date('Y-m-d') : '' }}
                    {% endfor %}
                </td>
                <td class="text-center align-middle">{% for selection in detail.eggsSelections %}
                        {{ selection.chickNumber|number_format(0, ',', ' ') }}
                    {% endfor %}
                </td>
                <td class="text-center align-middle">
                    {% for selection in detail.eggsSelections %}
                        {{ selection.cullChicken|number_format(0, ',', ' ') }}
                    {% endfor %}
                </td>
                <td class="text-center align-middle">
                    {{ detail.unhatched ? detail.unhatched|number_format(0, ',', ' ') : '' }}
                </td>
            </tr>
            <tr>
                <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.badge.fertilization{% endtrans %}</th>
                <td class="text-center align-middle">
                    {{ detail.fertilization ? detail.fertilization|number_format(2, ',', ' ') : '' }}%
                </td>
                <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.badge.fertilization{% endtrans %}</th>
                <td class="text-center align-middle">
                    {{ detail.fertilizationTransfer ? detail.fertilizationTransfer|number_format(2, ',', ' ') : '' }}%
                </td>
                <th class="text-center align-middle">{% trans %}eggs_inputs.show.table.badge.hatchability{% endtrans %}</th>
                <td class="text-center align-middle">
                    {{ detail.hatchability ? detail.hatchability|number_format(2, ',', ' ') : '' }}%
                </td>
                <td class="text-center align-middle">
                    {{ detail.cullChick ? detail.cullChick|number_format(2, ',', ' ') : '' }}%
                </td>
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
