{% block body %}
    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th>{% trans %}eggs_inputs.table_list.table.name{% endtrans %}</th>
        <th class="text-end">{% trans %}eggs_inputs.table_list.table.chick_number{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.table_list.table.selection_date{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.table_list.table.input_date{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.table_list.table.lighting_date{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.table_list.table.transfer_date{% endtrans %}</th>
        <th class="text-center">{% trans %}eggs_inputs.table_list.table.actions{% endtrans %}</th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for eggs_input in eggs_inputs %}
        <tr>
            <td>{{ eggs_input.name }}</td>
            {% if eggs_input.chickNumber is defined %}
                <td class="text-end">{{ eggs_input.chickNumber|number_format(0, ',', ' ') }}</td>
            {% else %}
                {% set chicks = 0 %}
                {% for farm in eggs_input.inputsFarms %}
                    {% set chicks = chicks + farm.chickNumber %}
                {% endfor %}
                <td class="text-end">{{ chicks|number_format(0, ',', ' ') }}</td>
            {% endif %}
            <td class="text-center">{{ eggs_input.inputDate ? eggs_input.inputDate|date_modify("+21 day +5 hour")|date('Y-m-d H:i') : '' }}</td>
            <td class="text-center">{{ eggs_input.inputDate ? eggs_input.inputDate|date('Y-m-d H:i') : '' }}</td>
            <td class="text-center">{{ eggs_input.inputDate ? eggs_input.inputDate|date_modify("+12 day")|date('Y-m-d') : '' }}</td>
            <td class="text-center">{{ eggs_input.inputDate ? eggs_input.inputDate|date_modify("+18 day")|date('Y-m-d') : '' }}</td>
            <td class="text-center">
                {{ include('layout/buttons/list_show.html.twig',
                    {pathLink: path('eggs_inputs_show', {'id': eggs_input.id})}) }}
                {% if is_granted('ROLE_MANAGER') %}
                    {{ include('layout/buttons/list_edit.html.twig',
                        {pathLink: path('eggs_inputs_edit', {'id': eggs_input.id})}) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                {% trans %}eggs_inputs.table_list.table.no_found{% endtrans %}
            </td>
        </tr>
    {% endfor %}
    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}
{% endblock %}
