{{ form_start(form) }}
<div class="form-check-inline">
    {{ form_row(form.breed) }}
</div>
    {{ form_widget(form) }}
{{ include('layout/buttons/create.html.twig', {text: 'plan_delivery_chick.form.button.save'}) }}
{{ form_end(form) }}
