{% extends 'base.html.twig' %}

{% block title %}PlanDeliveryChick index{% endblock %}

{% block body %}
    <h1>PlanDeliveryChick index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ChickNumber</th>
                <th>DeliveryDate</th>
                <th>InputDate</th>
                <th>LightingDate</th>
                <th>TransferDate</th>
                <th>Aparaty wylęgowe</th>
                <th>Aparaty klujnikowe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plan_delivery_chick in plan_delivery_chicks %}
            <tr>
                <td>{{ plan_delivery_chick.id }}</td>
                <td>{{ plan_delivery_chick.chickNumber }}</td>
                <td>{{ plan_delivery_chick.deliveryDate ? plan_delivery_chick.deliveryDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
                <td>{{ plan_delivery_chick.inputDate ? plan_delivery_chick.inputDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
                <td>{{ plan_delivery_chick.lightingDate ? plan_delivery_chick.lightingDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
                <td>{{ plan_delivery_chick.transferDate ? plan_delivery_chick.transferDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
                <td>
                    {% set setterNumber = plan_delivery_chick.chickNumber / 46000 %}
                    {{ setterNumber|number_format(1, ',') }}
                </td>
                <td>
                    {% set hatcherNumber = plan_delivery_chick.chickNumber / 18200 %}
                    {{ hatcherNumber|number_format(1, ',') }}
                </td>
                <td>
                    <a href="{{ path('plan_delivery_chick_show', {'id': plan_delivery_chick.id}) }}">show</a>
                    <a href="{{ path('plan_delivery_chick_edit', {'id': plan_delivery_chick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plan_delivery_chick_new') }}">Create new</a>
{% endblock %}
