{% include 'layout/tables/thead.html.twig' %}
<tr>
    <th class="d-print-none">{% trans %}plan_delivery_chick.list_plan_chick.id{% endtrans %}</th>
    <th>{% trans %}plan_delivery_chick.list_plan_chick.breed{% endtrans %}</th>
    <th>{% trans %}plan_delivery_chick.list_plan_chick.chick_farm{% endtrans %}</th>
    <th>{% trans %}plan_delivery_chick.list_plan_chick.chick_number{% endtrans %}</th>
    <th>{% trans %}plan_delivery_chick.list_plan_chick.delivery_date{% endtrans %}</th>
    <th>{% trans %}plan_delivery_chick.list_plan_chick.input_date{% endtrans %}</th>
    <th class="d-print-none">{% trans %}plan_delivery_chick.list_plan_chick.lighting_date{% endtrans %}</th>
    <th class="d-print-none">{% trans %}plan_delivery_chick.list_plan_chick.transfer_date{% endtrans %}</th>
    <th class="d-print-none">{% trans %}plan_delivery_chick.list_plan_chick.setters{% endtrans %}</th>
    <th class="d-print-none">{% trans %}plan_delivery_chick.list_plan_chick.hatchers{% endtrans %}</th>
    <th class="d-print-none">{% trans %}plan_delivery_chick.list_plan_chick.actions{% endtrans %}</th>
</tr>
{% include 'layout/tables/tbody.html.twig' %}
    {% for plan_delivery_chick in plan_delivery_chicks %}
        <tr>
            <td class="d-print-none">{{ plan_delivery_chick.id }}</td>
            <td>
                {% for breed in plan_delivery_chick.breed %}
                    {{ breed.name }} {{ breed.type }}
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('chicks_recipient_show', {'id': plan_delivery_chick.chickFarm.id}) }}">
                    {{ plan_delivery_chick.chickFarm.name }}
                </a>
            </td>
            <td class="text-nowrap">{{ plan_delivery_chick.chickNumber|number_format(0, ',', ' ') }}</td>
            <td>{{ plan_delivery_chick.deliveryDate ? plan_delivery_chick.deliveryDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
            <td>{{ plan_delivery_chick.inputDate ? plan_delivery_chick.inputDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
            <td class="d-print-none">{{ plan_delivery_chick.lightingDate ? plan_delivery_chick.lightingDate|format_datetime('long', 'none', locale='pl') : '' }}</td>
            <td class="d-print-none">{{ plan_delivery_chick.transferDate ? plan_delivery_chick.transferDate|format_datetime('long', 'none', locale='pl') : '' }}</td>
            <td class="d-print-none">
                {% set setterNumber = plan_delivery_chick.chickNumber / (plan_indicators.hatchability / 100) / 57600 %}
                {{ setterNumber|number_format(1, ',', ' ') }}
            </td>
            <td class="d-print-none">
                {% set hatcherNumber = plan_delivery_chick.chickNumber / (plan_indicators.transferHatchability / 100) / 19200 %}
                {{ hatcherNumber|number_format(1, ',', ' ') }}
            </td>
            <td class="d-print-none">
                <span class="btn-group">
                    {{ include('layout/buttons/list_show.html.twig',
                        {pathLink: path('plan_delivery_chick_show', {'id': plan_delivery_chick.id})}) }}
                    {% if is_granted('ROLE_PRODUCTION') %}
                        {{ include('layout/buttons/list_edit.html.twig',
                            {pathLink: path('plan_delivery_chick_edit', {'id': plan_delivery_chick.id})}) }}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('plan_delivery_chick/_delete_trash_form.html.twig', {'id': plan_delivery_chick.id}) }}
                    {% endif %}
                </span>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
{% include 'layout/tables/tfooter.html.twig' %}
{% include 'layout/tables/tend.html.twig' %}
