<table class="table">
    <thead>
    <tr>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.id{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.chick_farm{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.breed{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.chick_number{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.delivery_date{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.input_date{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.lighting_date{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.transfer_date{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.setters{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.hatchers{% endtrans %}</th>
        <th>{% trans %}plan_delivery_chick.list_plan_chick.actions{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for plan_delivery_chick in plan_delivery_chicks %}
        <tr>
            <td>{{ plan_delivery_chick.id }}</td>
            <td>
                {% for breed in plan_delivery_chick.breed %}
                    {{ breed.name }} {{ breed.type }}
                {% endfor %}
            </td>
            <td>{{ plan_delivery_chick.chickFarm.name }}</td>
            <td>{{ plan_delivery_chick.chickNumber }}</td>
            <td>{{ plan_delivery_chick.deliveryDate ? plan_delivery_chick.deliveryDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
            <td>{{ plan_delivery_chick.inputDate ? plan_delivery_chick.inputDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
            <td>{{ plan_delivery_chick.lightingDate ? plan_delivery_chick.lightingDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
            <td>{{ plan_delivery_chick.transferDate ? plan_delivery_chick.transferDate|format_datetime('full', 'short', locale='pl') : '' }}</td>
            <td>
                {% set setterNumber = plan_delivery_chick.chickNumber / (plan_indicators.hatchability / 100) / 57600 %}
                {{ setterNumber|number_format(1, ',', ' ') }}
            </td>
            <td>
                {% set hatcherNumber = plan_delivery_chick.chickNumber / (plan_indicators.transferHatchability / 100) / 19200 %}
                {{ hatcherNumber|number_format(1, ',', ' ') }}
            </td>
            <td>
                {{ include('plan_delivery_chick/_delete_form.html.twig') }}
                {{ include('layout/buttons/list_actions.html.twig',
                    {pathLink: path('plan_delivery_chick_edit', {'id': plan_delivery_chick.id}), text: 'plan_delivery_chick.list_plan_chick.table.badge.edit' }) }}

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
