{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {% trans %}breed.show.title{% endtrans %}
        {% include 'layout/cards/cbody.html.twig' %}
        <h5 class="card-title">{{ breed.name }} {{ breed.type }}</h5>
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('breed/_delete_form.html.twig') }}
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
            {{ include('layout/buttons/edit.html.twig', {pathLink: path('breed_edit', {'id': breed.id}), text: 'breed.show.button.edit'}) }}
        {% endif %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig', { pathLink: path('breed_index'), text: 'breed.show.button.back' }) }}
{% endblock %}
