{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.name) }}</label>
    {{ form_widget(form.name) }}
    <small>{{ form_help(form.name) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.name) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.email) }}</label>
    {{ form_widget(form.email) }}
    <small>{{ form_help(form.email) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.email) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.phoneNumber) }}</label>
    {{ form_widget(form.phoneNumber) }}
    <small>{{ form_help(form.phoneNumber) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.phoneNumber) }}
    </div>
</div>
<button class="btn btn-danger">{{ button_label|default('chicks_recipient.form.button.save')|trans }}</button>
{{ form_end(form) }}
