{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <a class="btn btn-primary" href="{{ path('chicks_recipient_index') }}">
        {% trans %}chicks_recipient.show.button.back{% endtrans %}
    </a>
    <div class="d-flex justify-content-center card-group">
        <div class="card">
            <h5 class="card-header">
                {% trans %}chicks_recipient.show.title{% endtrans %}
            </h5>
            <div class="card-body">
                <h5 class="card-title">{{ chicks_recipient.name }}</h5>
                <p class="card-text">
                    {% trans %}egg_supplier.show.email{% endtrans %}: {{ chicks_recipient.email }}
                </p>
                <p class="card-text">
                    {% trans %}egg_supplier.show.phone_number{% endtrans %}: {{ chicks_recipient.phoneNumber }}
                </p>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="card-footer bg-transparent border-success d-flex">
                    {{ include('chicks_recipient/_delete_form.html.twig') }}
                    <a class="btn btn-warning" href="{{ path('chicks_recipient_edit', {'id': chicks_recipient.id}) }}">
                        {% trans %}chicks_recipient.show.button.edit{% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <table class="table table-sm table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th rowspan="2" class="align-middle">
                {% trans %}chicks_recipient.show.table.inputs{% endtrans %}
            </th>
            <th colspan="2" class="text-center align-middle">
                {% trans %}chicks_recipient.show.table.chicks{% endtrans %}
            </th>
            <th rowspan="2" class="text-center align-middle">
                {% trans %}chicks_recipient.show.table.deliveries{% endtrans %}
            </th>
        </tr>
        <tr>
            <th class="text-center">
                {% trans %}chicks_recipient.show.table.chicks_plan{% endtrans %}
            </th>
            <th class="text-center">
                {% trans %}chicks_recipient.show.table.chicks_real{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for detail in inputsDetail.eggsInputsDetails %}
            <tr>
                <td class="align-middle">
                    <a href="{{ path('eggs_inputs_show', {'id': detail.eggInput.id}) }}">
                        {{ detail.eggInput.name }}
                    </a>
                </td>
                <td class="text-center align-middle">{{ detail.chickNumber }}</td>
                <td class="text-center align-middle">
                    {% for selection in detail.eggsSelections %}
                        {{ selection.chickNumber }}
                    {% endfor %}
                </td>
                <td>
                    {% include('eggs_delivery/inputs_delivery.html.twig') %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
