{% extends 'base.html.twig' %}

{% block title %}ChickTemperature{% endblock %}

{% block body %}
    <h1>{% trans %}chick_temperature.show.title{% endtrans %}</h1>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        <h5 class="card-title">{{ chick_temperature.input.name }} {{ chick_temperature.hatcher.name }}</h5>
        {% include 'layout/cards/cbody.html.twig' %}
        <dl class="row">
            <dd class="col-sm-6">{% trans %}chick_temperature.show.date{% endtrans %}</dd>
            <dt class="col-sm-6">{{ chick_temperature.date ? chick_temperature.date|date('Y-m-d') : '' }}</dt>
            <dd class="col-sm-6">{% trans %}chick_temperature.show.temperature{% endtrans %}</dd>
            <dt class="col-sm-6">{{ chick_temperature.temperature }}</dt>
        </dl>
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('chick_temperature/_delete_form.html.twig') }}
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
            {{ include('layout/buttons/edit.html.twig',
                {pathLink: path('chick_temperature_edit', {'id': chick_temperature.id}), text: 'chick_temperature.show.button.edit'}) }}
        {% endif %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig', { pathLink: path('chick_temperature_index'), text: 'chick_temperature.show.button.back' }) }}

{% endblock %}
