<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ZWD Malec</title>
    <style type="text/css">
        body {
            margin: 10px;
            padding: 10px;
            min-width: 100% !important;
            background-color: #FFFFFF;
        }

        .content {
            width: 100%;
            max-width: 800px;
        }
    </style>
</head>
<body>
{% if send is defined %}
    <a type="button" href="{{ path('customer_plans_send', {'id': customer.id}) }}">{% trans %}emails.customer_plans.button.send{% endtrans %}</a>
{% endif %}
<div class="card">
    {% if customer is defined %}
        <h1 style="text-align: center">{% trans %}emails.customer_plans.header_customer{% endtrans %} - {{ customer.name }}</h1>
    {% else %}
        <h1 style="text-align: center">{% trans %}emails.customer_plans.header{% endtrans %}</h1>
    {% endif %}
    {% for plan in plans %}
        <h3 style="text-align: center">{{ plan.farm.name }}</h3>
        <table class="content" align="center" cellpadding="2" cellspacing="2" border="1"
               style="background-color: #ffffff; text-align: center">
            <tr>
                <th style="padding-top: 10px"><h3>{% trans %}emails.customer_plans.breed{% endtrans %}</h3></th>
                <th style="padding-top: 10px"><h3>{% trans %}emails.customer_plans.delivery_date{% endtrans %}</h3></th>
                <th style="padding-top: 10px"><h3>{% trans %}emails.customer_plans.chicks{% endtrans %}</h3></th>
            </tr>
            {% for farmPlan in plan.farmPlans %}
                <tr>
                    <td>
                        {% for breed in farmPlan.breed %}
                            {% if loop.first %}
                                {{ breed.name }} {{ breed.type }}
                            {% else %}
                                / {{ breed.name }} {{ breed.type }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><b>{{ farmPlan.deliveryDate|format_date("full") }}</b></td>
                    <td><b>{{ farmPlan.chickNumber }}</b></td>
                </tr>
            {% endfor %}
        </table>
        <hr/>
    {% endfor %}
    <div style="background-color: #ffffff; text-align: center">
        <h3>{% trans %}emails.customer_plans.information.title{% endtrans %}</h3>
        <p>{% trans %}emails.customer_plans.information.body{% endtrans %}</p>
    </div>
    <hr/>
    <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
           style="background-color: #ffffff; text-align: center">
        <tr>
            <td>
                <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
                       style="background-color: #ffffff; text-align: center">
                    <tr>
                        <td style="padding-top: 10px;">
                            <h3>{% trans %}emails.customer_plans.sales.title{% endtrans %}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><b>{{ footer.sales.person }}</b></td>
                    </tr>
                    <tr>
                        <td><b>{{ footer.sales.phoneNumber|number_format(0, '', ' ') }}</b></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 10px"><b>{{ footer.sales.email }}</b></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
                       style="background-color: #d3d3d3; text-align: center">
                    <tr>
                        <td style="padding-top: 10px">
                            <h3>{% trans %}emails.customer_plans.hatchery.title{% endtrans %}</h3></td>
                    </tr>
                    <tr>
                        <td><b>{{ footer.hatchery.person }}</b></td>
                    </tr>
                    <tr>
                        <td><b>{{ footer.hatchery.phoneNumber|number_format(0, '', ' ') }}</b></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 10px"><b>{{ footer.hatchery.email }}</b></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
                       style="background-color: #ffffff; text-align: center">
                    <tr>
                        <td style="padding-top: 10px">
                            <h3>{% trans %}emails.customer_plans.accounting.title{% endtrans %}</h3></td>
                    </tr>
                    <tr>
                        <td><b>{{ footer.accounting.person }}</b></td>
                    </tr>
                    <tr>
                        <td><b>{{ footer.accounting.phoneNumber|number_format(0, '', ' ') }}</b></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 10px"><b>{{ footer.accounting.email }}</b></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>
