<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>A Simple Responsive HTML Email</title>
    <style type="text/css">
        body {
            margin: 10px;
            padding: 10px;
            min-width: 100% !important;
            background-color: #FFFFFF;
        }

        .content {
            width: 100%;
            max-width: 600px;
        }
    </style>
</head>
<body>
<div class="card">
    <h1 style="text-align: center">{% trans %}emails.transport_list.header{% endtrans %}</h1>

    <table class="content" align="center" cellpadding="2" cellspacing="2" border="2"
           style="background-color: #ffffff; text-align: center">
        <tr>
            <th>{% trans %}transport_list.index.table.date{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.farm{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.driver{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.arrival_hour{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.car{% endtrans %}</th>
            <th>{% trans %}transport_list.index.table.chicks{% endtrans %}</th>
        </tr>
        <tr>
            <td>{{ farm.eggInput.inputDate|date_modify('+21 days')|date("Y-m-d") }}</td>
            <td>{{ farm.chicksFarm.name }}</td>
            <td>
                {% for driv in driver %}
                {{ driv.firstname }} {{ driv.lastname }} {{ driv.phoneNumber }}<br/>
            {% endfor %}
            </td>
            <td>{{ arrivalHour|format_datetime("none", "short") }}</td>
            <td>{{ car.name }}</td>
            <td>{{ farm.chickNumber }}</td>
        </tr>
    </table>
    <hr/>
    <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
           style="background-color: #ffffff; text-align: center">
        <tr>
            <td>
                <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
                       style="background-color: #ffffff; text-align: center">
                    <tr>
                        <td style="padding-top: 10px;"><h3>{% trans %}emails.transport_list.transport.title{% endtrans %}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><b>{{ transport.person }}</b></td>
                    </tr>
                    <tr>
                        <td><b>{{ transport.phoneNumber|number_format(0, '', ' ') }}</b></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 10px"><b>{{ transport.email }}</b></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
                       style="background-color: #d3d3d3; text-align: center">
                    <tr>
                        <td style="padding-top: 10px">
                            <h3>{% trans %}emails.egg_delivery.hatchery.title{% endtrans %}</h3></td>
                    </tr>
                    <tr>
                        <td><b>{{ hatchery.person }}</b></td>
                    </tr>
                    <tr>
                        <td><b>{{ hatchery.phoneNumber|number_format(0, '', ' ') }}</b></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 10px"><b>{{ hatchery.email }}</b></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="content" align="center" cellpadding="0" cellspacing="0" border="0"
                       style="background-color: #ffffff; text-align: center">
                    <tr>
                        <td style="padding-top: 10px">
                            <h3>{% trans %}emails.egg_delivery.accounting.title{% endtrans %}</h3></td>
                    </tr>
                    <tr>
                        <td><b>{{ accounting.person }}</b></td>
                    </tr>
                    <tr>
                        <td><b>{{ accounting.phoneNumber|number_format(0, '', ' ') }}</b></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 10px"><b>{{ accounting.email }}</b></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>
