{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.lightingDate) }}</label>
    {{ form_widget(form.lightingDate) }}
    <small>{{ form_help(form.lightingDate) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.lightingDate) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.wasteEggs) }}</label>
    {{ form_widget(form.wasteEggs) }}
    <small>{{ form_help(form.wasteEggs) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.wasteEggs) }}
    </div>
</div>
{{ include('layout/buttons/create.html.twig', {text: 'eggs_inputs_lighting.form.button.save'}) }}
{{ form_end(form) }}
