{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>
            {% trans %}eggs_inputs_lighting.index.title{% endtrans %}
        </h1>
        {% include 'layout/tables/thead.html.twig' %}
        <tr>
            <th class="text-end">{% trans %}eggs_inputs_lighting.index.table.waste_eggs{% endtrans %}</th>
            <th class="text-end">{% trans %}eggs_inputs_lighting.index.table.waste{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_lighting.index.table.lighting_date{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_lighting.index.table.herd{% endtrans %}</th>
            <th class="text-end">{% trans %}eggs_inputs_lighting.index.table.eggs_number{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_lighting.index.table.input{% endtrans %}</th>
            <th class="text-center">{% trans %}eggs_inputs_lighting.index.table.actions{% endtrans %}</th>
        </tr>
        {% include 'layout/tables/tbody.html.twig' %}
        {% for eggs_inputs_lighting in eggs_inputs_lightings %}
            <tr>
                <td class="text-end">
                    {{ eggs_inputs_lighting.wasteEggs|number_format(0, ',', ' ') }}
                    {% trans %}eggs_inputs_lighting.index.table.of{% endtrans%}
                    {{ eggs_inputs_lighting.lightingEggs|number_format(0, ',', ' ') }}
                </td>
                <td class="text-end">{{ eggs_inputs_lighting.wasteLighting|number_format(0, ',', ' ') }}</td>
                <td class="text-center">{{ eggs_inputs_lighting.lightingDate ? eggs_inputs_lighting.lightingDate|date('Y-m-d') : '' }}</td>
                <td class="text-center">
                    {% for inputDelivery in eggs_inputs_lighting.inputDeliveries %}
                        {{ inputDelivery.delivery.herd.breeder.name }} - {{ inputDelivery.delivery.herd.name }}
                    {% endfor %}
                </td>
                <td class="text-end">
                    {% for inputDelivery in eggs_inputs_lighting.inputDeliveries %}
                        {{ inputDelivery.eggsNumber|number_format(0, ',', ' ') }}
                    {% endfor %}
                </td>
                <td class="text-center">
                    {% for inputDelivery in eggs_inputs_lighting.inputDeliveries %}
                        {{ inputDelivery.input.name }}
                    {% endfor %}
                </td>
                <td class="text-center">
                    <span class="btn-group">
                    {{ include('layout/buttons/list_show.html.twig',
                        {pathLink: path('eggs_inputs_lighting_show', {'id': eggs_inputs_lighting.id})}) }}
                        {% if is_granted('ROLE_MANAGER') %}
                            {{ include('layout/buttons/list_edit.html.twig',
                                {pathLink: path('eggs_inputs_lighting_edit', {'id': eggs_inputs_lighting.id})}) }}
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ include('eggs_inputs_lighting/_delete_trash_form.html.twig') }}
                        {% endif %}

                    </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    {% trans %}eggs_inputs_lighting.index.table.no_found{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        {% include 'layout/tables/tfooter.html.twig' %}
        {% include 'layout/tables/tend.html.twig' %}
    </div>
{% endblock %}
