{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {% trans %}eggs_inputs_lighting.new.title{% endtrans %}: <span class="fw-bold fs-4">{{ input.name }}</span>
        <p>{% trans %}eggs_inputs_lighting.new.herd{% endtrans %}: <span class="fw-bold fs-4">{{ herd.name }}</span></p>
        {% include 'layout/cards/cbody.html.twig' %}
        {{ include('eggs_inputs_lighting/_form.html.twig') }}
        {% include 'layout/cards/cfooter.html.twig' %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    {{ include('layout/buttons/back.html.twig',
        {pathLink: path('eggs_inputs_show', {id: input.id}), text: 'eggs_inputs_lighting.new.button.back'}) }}
    {% elseif is_granted('ROLE_PRODUCTION') %}
        {{ include('layout/buttons/back.html.twig',
            {pathLink: path('production_lighting_herd', {id: input.id}), text: 'eggs_inputs_lighting.new.button.herds'}) }}
    {% endif %}
{% endblock %}
