{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{% trans %}eggs_inputs_lighting.show.title{% endtrans %}</h1>
        <div class="d-flex justify-content-center card-group">
            {% include 'layout/cards/chead.html.twig' %}
            {% for farmDelivery in eggs_inputs_lighting.inputsFarmDelivery %}
                {{ farmDelivery.inputsFarm.eggInput.name }}
            {% endfor %} -
            {{ eggs_inputs_lighting.lightingDate ? eggs_inputs_lighting.lightingDate|date('Y-m-d') : '' }}
            {% include 'layout/cards/cbody.html.twig' %}
            <dl class="row">
                <dd class="col-sm-3">{% trans %}eggs_inputs_lighting.show.waste_eggs{% endtrans %}</dd>
                <dt class="col-sm-9 text-end">{{ eggs_inputs_lighting.wasteEggs|number_format(0, ',', ' ') }}</dt>
                <dd class="col-sm-3">{% trans %}eggs_inputs_lighting.show.herd{% endtrans %}</dd>
                <dt class="col-sm-9 text-end">
                    {% for farmDelivery in eggs_inputs_lighting.inputsFarmDelivery %}
                        {{ farmDelivery.delivery.herd.name }}
                    {% endfor %}
                </dt>
                <dd class="col-sm-3">{% trans %}eggs_inputs_lighting.show.farm{% endtrans %}</dd>
                <dt class="col-sm-9 text-end">
                    {% for farmDelivery in eggs_inputs_lighting.inputsFarmDelivery %}
                        {{ farmDelivery.inputsFarm.chicksFarm.name }}
                    {% endfor %}
                </dt>
            </dl>
            {% include 'layout/cards/cfooter.html.twig' %}
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('eggs_inputs_lighting/_delete_form.html.twig') }}
            {% endif %}
            {% if is_granted('ROLE_MANAGER') %}
                {{ include('layout/buttons/edit.html.twig',
                    {pathLink: path('eggs_inputs_lighting_edit', {'id': eggs_inputs_lighting.id}), text: 'eggs_inputs_lighting.show.button.edit'}) }}
            {% endif %}
            {% include 'layout/cards/cend.html.twig' %}
        </div>
        {{ include('layout/buttons/back.html.twig',
            { pathLink: path('eggs_inputs_lighting_index'), text: 'eggs_inputs_lighting.show.button.back' }) }}
    </div>
{% endblock %}
