{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 450px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}plans.show_week.title{% endtrans %}: {{ date|date('W') }} / {{ date|date('Y') }}
        - {{ breed.name }} {{ breed.type }}</h1>
    <div class="card-group">
        {% for day in plans %}
            <div class="card border-primary m-2">
                <div class="card-header bg-transparent border-success">{{ day.date.inputDate ? day.date.inputDate|format_datetime('full', 'none', locale='pl') : '' }}</div>
                <div class="card-body">
                    {% for plan in day.plans %}
                        <h6 class="card-title">{{ plan.chickFarm.customer.name }} - {{ plan.chickFarm.name }}</h6>
                        <dl class="row">
                            <dd class="col-sm-6">{% trans %}plans.show_week.index.chicks_number{% endtrans %}</dd>
                            <dt class="col-sm-6">{{ plan.chickNumber|number_format(0, ',', ' ') }}</dt>
                            <dd class="col-sm-6">{% trans %}plans.show_week.index.delivery_date{% endtrans %}</dd>
                            <dt class="col-sm-6">{{ plan.deliveryDate ? plan.deliveryDate|format_datetime('medium', 'none', locale='pl') : '' }}</dt>
                        </dl>

                        <hr/>

                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
