{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.transferDate) }}</label>
    {{ form_widget(form.transferDate) }}
    <small>{{ form_help(form.transferDate) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.transferDate) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.transfersEgg) }}</label>
    {{ form_widget(form.transfersEgg) }}
    <small>{{ form_help(form.transfersEgg) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.transfersEgg) }}
    </div>
</div>
{{ include('layout/buttons/create.html.twig', {text: 'eggs_inputs_transfer.form.button.save'}) }}
{{ form_end(form) }}
