{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.transferDate) }}</label>
    {{ form_widget(form.transferDate) }}
    <small>{{ form_help(form.transferDate) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.transferDate) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.wasteEggs) }}</label>
    {{ form_widget(form.wasteEggs) }}
    <small>{{ form_help(form.wasteEggs) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.wasteEggs) }}
    </div>
</div>
<button class="btn btn-danger">{{ button_label|default('eggs_inputs_transfer.form.button.save')|trans }}</button>
{{ form_end(form) }}