{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}eggs_inputs_transfer.index.title{% endtrans %}
    </h1>
    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th>
            {% trans %}eggs_inputs_transfer.index.table.id{% endtrans %}
        </th>
        <th>
            {% trans %}eggs_inputs_transfer.index.table.transfers_egg{% endtrans %}
        </th>
        <th>
            {% trans %}eggs_inputs_transfer.index.table.transfer_date{% endtrans %}
        </th>
        <th>
            {% trans %}eggs_inputs_transfer.index.table.action{% endtrans %}
        </th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for eggs_inputs_transfer in eggs_inputs_transfers %}
        <tr>
            <td>{{ eggs_inputs_transfer.id }}</td>
            <td>{{ eggs_inputs_transfer.transfersEgg }}</td>
            <td>{{ eggs_inputs_transfer.transferDate ? eggs_inputs_transfer.transferDate|date('Y-m-d') : '' }}</td>
            <td>
                {{ include('layout/buttons/list_actions.html.twig',
                    {pathLink: path('eggs_inputs_transfers_show', {'id': eggs_inputs_transfer.id}), text: 'eggs_inputs_transfer.index.table.badge.show' }) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('layout/buttons/list_actions.html.twig',
                        {pathLink: path('eggs_inputs_transfers_edit', {'id': eggs_inputs_transfer.id}), text: 'eggs_inputs_transfer.index.table.badge.edit' }) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                {% trans %}eggs_inputs_transfer.index.table.no_found{% endtrans %}
            </td>
        </tr>
    {% endfor %}
    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
