{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{% trans %}eggs_inputs_transfer.show.title{% endtrans %}</h1>
        <div class="d-flex justify-content-center card-group">
            {% include 'layout/cards/chead.html.twig' %}
            {{ eggs_inputs_transfer.input ? eggs_inputs_transfer.input.name : '' }} -
            {{ eggs_inputs_transfer.transferDate ? eggs_inputs_transfer.transferDate|date('Y-m-d') : '' }}
            {% include 'layout/cards/cbody.html.twig' %}
            <dl class="row">
                <dd class="col-sm-6">{% trans %}eggs_inputs_transfer.show.transfer_egg{% endtrans %}</dd>
                <dt class="col-sm-6 text-end">{{ eggs_inputs_transfer.transfersEgg|number_format(0, ',', ' ') }}</dt>
                <dd class="col-sm-6">{% trans %}eggs_inputs_transfer.show.herd{% endtrans %}</dd>
                <dt class="col-sm-6 text-end">{{ eggs_inputs_transfer.herd ? eggs_inputs_transfer.herd.breeder.name : '' }}
                    - {{ eggs_inputs_transfer.herd ? eggs_inputs_transfer.herd.name : '' }}
                </dt>
                <dd class="col-sm-6">{% trans %}eggs_inputs_transfer.show.farm{% endtrans %}</dd>
                <dt class="col-sm-6 text-end">{{ eggs_inputs_transfer.farm ? eggs_inputs_transfer.farm.chicksFarm.customer.name : '' }}
                    - {{ eggs_inputs_transfer.farm ? eggs_inputs_transfer.farm.chicksFarm.name : '' }}
                </dt>
            </dl>
            {% include 'layout/cards/cfooter.html.twig' %}
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('eggs_inputs_transfers/_delete_form.html.twig') }}
            {% endif %}
            {% if is_granted('ROLE_MANAGER') %}
                {{ include('layout/buttons/edit.html.twig',
                    {pathLink: path('eggs_inputs_transfers_edit', {'id': eggs_inputs_transfer.id}), text: 'eggs_inputs_transfer.show.button.edit'}) }}
            {% endif %}
            {% include 'layout/cards/cend.html.twig' %}
        </div>
        {{ include('layout/buttons/back.html.twig',
            { pathLink: path('eggs_inputs_transfers_index'), text: 'eggs_inputs_transfer.show.button.back' }) }}
    </div>
{% endblock %}
