{% block herdDeliveries %}
    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th class="text-center align-middle">
            {% trans %}herds.herd_deliveries.table.id{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.herd_deliveries.table.delivery_date{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.herd_deliveries.table.first_laying_date{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.herd_deliveries.table.last_laying_date{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.herd_deliveries.table.delivery_eggs_number{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.herd_deliveries.table.eggs_warehouse{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.herd_deliveries.table.action{% endtrans %}
        </th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for delivery in deliveries %}
        <tr>
            <td class="text-center align-middle">
                {{ delivery.0.id }}
            </td>
            <td class="text-center align-middle">
                {{ delivery.0.deliveryDate ? delivery.0.deliveryDate|date('Y-m-d') : '' }}
            </td>
            <td class="text-center align-middle">
                {{ delivery.0.firstLayingDate ? delivery.0.firstLayingDate|date('Y-m-d') : '' }}
            </td>
            <td class="text-center align-middle">
                {{ delivery.0.lastLayingDate ? delivery.0.lastLayingDate|date('Y-m-d') : '' }}
            </td>
            <td class="text-center align-middle">
                {{ delivery.0.eggsNumber|number_format(0, ',', ' ') }}
            </td>
            <td class="text-center align-middle">
                {{ delivery.eggsStock|number_format(0, ',', ' ') }}
            </td>
            <td>
                {{ include('layout/buttons/list_actions.html.twig',
                    {pathLink: path('eggs_delivery_show', {'id': delivery.0.id}), text: 'herds.herd_deliveries.table.badge.show' }) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('layout/buttons/list_actions.html.twig',
                        {pathLink: path('eggs_delivery_edit', {'id': delivery.0.id}), text: 'herds.herd_deliveries.table.badge.edit' }) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
