{% block herdDeliveries %}

    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.input_name{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.delivery_id{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.delivery_date{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.eggs_number{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.farm{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.waste_lighting{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.transfer_eggs{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.chick_number{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.cull_chick{% endtrans %}
        </th>
        <th class="text-center align-middle">
            {% trans %}herds.show_delivery.table.unhatched{% endtrans %}
        </th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for input in inputs %}
        <tr>
            <td class="text-center align-middle">
                <a href="{{ path('eggs_inputs_show', {'id': input.inputsFarm.eggInput.id}) }}">
                    {{ input.inputsFarm.eggInput.name }}
                </a>
            </td>
            <td class="text-center align-middle">
                <a href="{{ path('eggs_delivery_show', {'id': input.delivery.id}) }}">
                    {{ input.delivery.partIndex }}
                </a>
            </td>
            <td class="text-center align-middle">
                {{ input.delivery.deliveryDate ? input.delivery.deliveryDate|date('Y-m-d') : '' }}
            </td>
            <td class="text-center align-middle">
                {{ input.eggsNumber|number_format(0, '', ' ') }}
                ({{ input.delivery.eggsNumber|number_format(0, '', ' ') }})
            </td>
            <td class="text-center align-middle">
                <a href="{{ path('chicks_recipient_show', {'id': input.inputsFarm.chicksFarm.id}) }}">
                    {{ input.inputsFarm.chicksFarm.name }}
                </a>
            </td>
            <td class="text-center align-middle">
                {% if input.lighting %}
                    {{ input.lighting.wasteEggs|number_format(0, '', ' ') }} ({{ input.lighting.wasteLighting|number_format(0, '', ' ') }})
                {% endif %}
            </td>
            <td class="text-center align-middle">
                {{ input.transfers ? input.transfers.transfersEgg|number_format(0, '', ' ') : '' }}
            </td>
            <td class="text-center align-middle">
                {{ input.selections ? input.selections.chickNumber|number_format(0, '', ' ') : '' }}
            </td>
            <td class="text-center align-middle">
                {{ input.selections ? input.selections.cullChicken|number_format(0, '', ' ') : '' }}
            </td>
            <td class="text-center align-middle">
                {{ input.selections ? input.selections.unhatched|number_format(0, '', ' ') : '' }}
            </td>
        </tr>
    {% endfor %}
    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}

{% endblock %}
