{% block body %}
    {% include 'layout/tables/thead.html.twig' %}
    <tr>
        <th class="align-middle">{% trans %}herds.index.table.name{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}herds.index.table.age{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}herds.index.table.hatching_date{% endtrans %}</th>
        <th class="text-end align-middle">{% trans %}herds.index.table.hens_number{% endtrans %}</th>
        {% if is_granted('ROLE_ADMIN') %}
            <th class="text-center align-middle">{% trans %}herds.index.table.slaughter{% endtrans %}</th>
            <th class="text-center align-middle">{% trans %}herds.index.table.next_hatching_date{% endtrans %}</th>
        {% endif %}
        <th class="text-center align-middle">{% trans %}herds.index.table.breed{% endtrans %}</th>
        {% if breeder is not defined %}
            <th class="text-center align-middle">{% trans %}herds.index.table.breeders{% endtrans %}</th>
        {% endif %}
        <th class="text-center align-middle">{% trans %}herds.index.table.active{% endtrans %}</th>
        <th class="text-center align-middle">{% trans %}herds.index.table.actions{% endtrans %}</th>
    </tr>
    {% include 'layout/tables/tbody.html.twig' %}
    {% for herd in herds %}
        <tr>
            <td>{{ herd.name }}</td>
            {% set dateDifference = date(now).diff(date(herd.hatchingDate)) %}
            {% set age = dateDifference.days / 7 %}
            <td class="text-center">
                {% if herd.active %}
                    {{ age|round(0, 'ceil') }}
                {% elseif herd.hatchingDate < now %}
                    {% if herd.hatchingDate|date_modify("+24 week") > now %}
                        {{ age|round(0, 'ceil') }}
                    {% endif %}
                {% endif %}
            </td>
            <td class="text-center">{{ herd.hatchingDate ? herd.hatchingDate|date('Y-m-d') : '' }}</td>
            <td class="text-end">{{ herd.hensNumber }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td class="text-center">{{ herd.hatchingDate ? herd.hatchingDate|date_modify("+62 week")|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ herd.hatchingDate ? herd.hatchingDate|date_modify("+46 week")|date('Y-m-d') : '' }}</td>
            {% endif %}
            <td class="text-center">
                <a href="{{ path('breed_show', {'id': herd.breed.id}) }}">
                    {{ herd.breed.name }} {{ herd.breed.type }}
                </a>
            </td>
            {% if breeder is not defined %}
                <td class="text-end">
                    <a href="{{ path('egg_supplier_show', {'id': herd.breeder.id}) }}">
                        {{ herd.breeder.name }}
                    </a>
                </td>
            {% endif %}
            <td class="text-center">
                {% if herd.active %}
                    {{ include('herds/_active_form.html.twig') }}
                {% else %}
                    {{ include('herds/_inactive_form.html.twig') }}
                {% endif %}
            </td>
            <td class="text-end">
                {{ include('layout/buttons/list_actions.html.twig',
                    {pathLink: path('herds_show', {'id': herd.id}), text: 'herds.index.table.badge.show' }) }}
                {{ include('layout/buttons/list_actions.html.twig',
                    {pathLink: path('herd_delivery_plan_week', {'id': herd.id}), text: 'herds.index.table.badge.show_plan' }) }}
                {% if is_granted('ROLE_MANAGER') %}
                    {{ include('layout/buttons/list_success.html.twig',
                        {pathLink: path('plan_delivery_egg_herd', {'id': herd.id}), text: 'herds.index.table.badge.plan' }) }}
                    {{ include('layout/buttons/list_success.html.twig',
                        {pathLink: path('herds_edit', {'id': herd.id}), text: 'herds.index.table.badge.edit' }) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">
                {% trans %}herds.index.table.no_found{% endtrans %}
            </td>
        </tr>
    {% endfor %}
    {% include 'layout/tables/tfooter.html.twig' %}
    {% include 'layout/tables/tend.html.twig' %}
{% endblock %}
