{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}herds.show.title{% endtrans %}</h1>
    {{ include('layout/buttons/back.html.twig',
        { pathLink: path('herds_index'), text: 'herds.show.button.back' }) }}

    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {{ herd.breeder.name }} - {{ herd.name }}
        {% include 'layout/cards/cbody.html.twig' %}
        <p class="card-text">
            {% trans %}herds.show.hatching_date{% endtrans %}
            : {{ herd.hatchingDate ? herd.hatchingDate|date('Y-m-d') : '' }}
        </p>
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('herds/_delete_form.html.twig') }}
            {{ include('layout/buttons/edit.html.twig',
                {pathLink: path('herds_edit', {'id': herd.id}), text: 'herds.show.button.edit'}) }}
        {% endif %}
        {{ include('layout/buttons/back.html.twig',
            { pathLink: path('herds_breeder_index', {'id': herd.breeder.id}), text: 'herds.show.button.breeder_herds' }) }}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
<div class="accordion accordion-flush" id="accordionFlushHerdShow">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingDelivery">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDelivery" aria-expanded="false" aria-controls="flush-collapseDelivery">
                {% trans %}herds.show.accordion.delivery{% endtrans %}
            </button>
        </h2>
        <div id="flush-collapseDelivery" class="accordion-collapse collapse" aria-labelledby="flush-headingDelivery" data-bs-parent="#accordionFlushHerdShow">
            <div class="accordion-body">
                {% include('herds/herd_deliveries.html.twig') %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingInputs">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseInputs" aria-expanded="false" aria-controls="flush-collapseInputs">
                {% trans %}herds.show.accordion.inputs{% endtrans %}
            </button>
        </h2>
        <div id="flush-collapseInputs" class="accordion-collapse collapse" aria-labelledby="flush-headingInputs" data-bs-parent="#accordionFlushHerdShow">
            <div class="accordion-body">
                {% include('herds/inputs_deliveries.html.twig') %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
