{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}herds.show.title{% endtrans %}</h1>
    {{ include('layout/buttons/back.html.twig',
        { pathLink: path('herds_index'), text: 'herds.show.button.back' }) }}

    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {{ herd.breeder.name }} - {{ herd.name }}
        {% include 'layout/cards/cbody.html.twig' %}
        <p class="card-text">
            {% trans %}herds.show.hatching_date{% endtrans %}
            : {{ herd.hatchingDate ? herd.hatchingDate|date('Y-m-d') : '' }}
        </p>
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('herds/_delete_form.html.twig') }}
            {{ include('layout/buttons/edit.html.twig',
                {pathLink: path('herds_edit', {'id': herd.id}), text: 'herds.show.button.edit'}) }}
        {% endif %}
        {{ include('layout/buttons/back.html.twig',
            { pathLink: path('herds_breeder_index', {'id': herd.breeder.id}), text: 'herds.show.button.breeder_herds' }) }}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {% include('herds/herd_deliveries.html.twig') %}
    {% include('herds/show_delivery.html.twig') %}
{% endblock %}
