{% block menu_top %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="https://lookaskonieczny.com">
                Lookas
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('egg_supplier_index') }}>
                        {% trans %}menu.menu_top.eggs_supplier.index{% endtrans %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href={{ path('breed_index') }}>
                        {% trans %}menu.menu_top.breed.index{% endtrans %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href={{ path('herds_index') }}>
                        {% trans %}menu.menu_top.herds.index{% endtrans %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href={{ path('eggs_delivery_index') }}>
                        {% trans %}menu.menu_top.eggs_delivery.index{% endtrans %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href={{ path('eggs_inputs_index') }}>
                        {% trans %}menu.menu_top.eggs_inputs.index{% endtrans %}
                    </a>
                </li>
                <li>
                    <a class="nav-link" href={{ path('eggs_inputs_details_index') }}>
                        {% trans %}menu.menu_top.eggs_inputs_details.index{% endtrans %}
                    </a>
                </li>
{#                {% if is_granted('ROLE_ADMIN') %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href={{ path('registration') }}>{% trans %}menu.menu_top.registration{% endtrans %}</a>#}
{#                    </li>#}
{#                {% endif %}#}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-warning my-2 my-sm-0" href={{ path('app_logout') }}>{% trans %}menu.menu_top.logout{% endtrans %}</a>
            {% else %}
                <a class="btn btn-success my-2 my-sm-0" href={{ path('app_login') }}>{% trans %}menu.menu_top.login{% endtrans %}</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}