{% block menu_top %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary d-print-none">
        <a class="navbar-brand" href="https://lookaskonieczny.com">
            Lookas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('main_page') }}>
                        {% trans %}menu.menu_top.main_page.index{% endtrans %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('incubators_index') }}>
                        {% trans %}menu.menu_top.incubators.index{% endtrans %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('production_index') }}>
                        {% trans %}menu.menu_top.production.index{% endtrans %}
                    </a>
                </li>
                <li class="nav-item dropdown" id="breed">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{% trans %}menu.menu_top.breed.title{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href={{ path('breed_index') }}>{% trans %}menu.menu_top.breed.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href={{ path('breed_standard_index') }}>{% trans %}menu.menu_top.breed_standard.index{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="supplier">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{% trans %}menu.menu_top.eggs_supplier.title{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href={{ path('egg_supplier_index') }}>{% trans %}menu.menu_top.eggs_supplier.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href={{ path('herds_index') }}>{% trans %}menu.menu_top.herds.index{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="eggs">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{% trans %}menu.menu_top.eggs_delivery.title{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href={{ path('eggs_delivery_index') }}>{% trans %}menu.menu_top.eggs_delivery.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href={{ path('eggs_delivery_all_index') }}>{% trans %}menu.menu_top.eggs_delivery.all{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="inputs">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{% trans %}menu.menu_top.eggs_inputs.title{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href={{ path('eggs_inputs_new') }}>{% trans %}menu.menu_top.eggs_inputs.new{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href={{ path('vaccination_index') }}>{% trans %}menu.menu_top.vaccination.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href={{ path('eggs_inputs_index') }}>{% trans %}menu.menu_top.eggs_inputs.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href={{ path('chick_temperature_index') }}>{% trans %}menu.menu_top.chick_temperature.index{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="customer">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{% trans %}menu.menu_top.customer.title{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href={{ path('chick_integration_index') }}>{% trans %}menu.menu_top.chicks_integration.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href={{ path('chicks_recipient_index') }}>{% trans %}menu.menu_top.chicks_recipient.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('customer_index') }}">{% trans %}menu.menu_top.customer.index{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="transport">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{% trans %}menu.menu_top.transport.title{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="{{ path('transport_list_index') }}">{% trans %}menu.menu_top.transport_list.index{% endtrans %}</a></li>
                        <li><a class="dropdown-item"
                               href="{{ path('car_index') }}">{% trans %}menu.menu_top.car.index{% endtrans %}</a></li>
                        <li><a class="dropdown-item"
                               href="{{ path('driver_index') }}">{% trans %}menu.menu_top.driver.index{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="plans">
                    <a class="nav-link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{% trans %}menu.menu_top.plans.title{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="{{ path('plan_detail') }}">test - plan</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('chick_integration_choose_integration') }}">{% trans %}menu.menu_top.plans.plan_integration.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('inputs_farm_delivery_plan_index') }}">{% trans %}menu.menu_top.plans.plan_inputs_delivery.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('plan_indicators_index') }}">{% trans %}menu.menu_top.plans.plan_indicator.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('plan_hatching_date') }}">{% trans %}menu.menu_top.plans.plan_hatching.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('monthly_plan') }}">{% trans %}menu.menu_top.plans.plan_monthly.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('plan_year_plan') }}">{% trans %}menu.menu_top.plans.plan_week.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('plan_week') }}">{% trans %}menu.menu_top.plans.plan_details.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('plan_delivery_chick_index') }}">{% trans %}menu.menu_top.plans.plan_delivery_chick.index{% endtrans %}</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{{ path('plan_delivery_egg_index') }}">{% trans %}menu.menu_top.plans.plan_delivery_egg.index{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown" id="admin">
                        <a class="nav-link dropdown-toggle" href="#"
                           data-bs-toggle="dropdown">{% trans %}menu.menu_top.admin.title{% endtrans %}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{{ path('registration') }}">{% trans %}menu.menu_top.admin.registration{% endtrans %}</a>
                            </li>
                            <li><a class="dropdown-item" target="_blank"
                                   href="{{ path('dh_auditor_list_audits') }}">{% trans %}menu.menu_top.admin.audit{% endtrans %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('user_index') }}">{% trans %}menu.menu_top.admin.user{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="admin_production">
                        <a class="nav-link dropdown-toggle" href="#"
                           data-bs-toggle="dropdown">{% trans %}menu.menu_top.admin.production.title{% endtrans %}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{{ path('eggs_inputs_index') }}">{% trans %}menu.menu_top.admin.production.inputs{% endtrans %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('eggs_inputs_lighting_index') }}">{% trans %}menu.menu_top.admin.production.lightings{% endtrans %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('eggs_inputs_transfers_index') }}">{% trans %}menu.menu_top.admin.production.transfers{% endtrans %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('chick_temperature_index') }}">{% trans %}menu.menu_top.admin.production.chick_temperature{% endtrans %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('eggs_selections_index') }}">{% trans %}menu.menu_top.admin.production.selections{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-warning my-2 my-sm-0"
                   href={{ path('app_logout') }}>{% trans %}menu.menu_top.logout{% endtrans %}</a>
            {% else %}
                <a class="btn btn-success my-2 my-sm-0"
                   href={{ path('app_login') }}>{% trans %}menu.menu_top.login{% endtrans %}</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}
