<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for key, plans in week %}
        <div class="col">
            <div class="card border-info">
                <div class="card-body">
                    {% set selectionWeek = key + 3 %}
                    {% if selectionWeek > 52 %}
                    {% set selectionWeek = selectionWeek - 52 %}
                    {% endif %}
                    <div class="container">
                        <div class="row justify-content-between">
                        <div class="col-6">
                            <h5 class="card-title">
                                {% trans %}plans.week_plan_site.week.number{% endtrans %} {{ key }} ({{ selectionWeek }})
                            </h5>
                        </div>
                        <div class="col-3 text-end h5">
                            <a href="{{ path('plan_week_detail', {'week': key, 'year': year|date('Y')}) }}"><i class="fas fa-list text-end"></i></a>
                        </div>
                        </div>
                    </div>
                    <dl class="row">
                        <dd class="col-sm-9">{% trans %}plans.index.chicks{% endtrans %}</dd>
                        <dt class="col-sm-3">
                            <a type="button" class="" data-bs-toggle="modal"
                               data-bs-target="#chicks{{ breed }}{{ key }}Modal">
                                {{ plans.chicks|number_format(0, ',', ' ') }}
                            </a>
                        </dt>
                        <dd class="col-sm-9">{% trans %}plans.index.eggs_delivery{% endtrans %}</dd>
                        <dt class="col-sm-3">
                            <a type="button" class="" data-bs-toggle="modal"
                               data-bs-target="#eggs{{ breed }}{{ key }}Modal">
                                {{ plans.eggs|number_format(0, ',', ' ') }}
                            </a>
                        </dt>
                        <dd class="col-sm-9">{% trans %}plans.index.eggs_stock{% endtrans %}</dd>
                        <dt class="col-sm-3">
                            {{ plans.eggsInStock|number_format(0, ',', ' ') }}
                        </dt>
                    </dl>
                    <div class="modal fade" id="chicks{{ breed }}{{ key }}Modal" tabindex="-1"
                         aria-labelledby="chicks{{ breed }}{{ key }}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="chicks{{ breed }}{{ key }}ModalLabel">
                                        {% trans %}plans.index.chicks{% endtrans %}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <dl class="row">
                                        {% for farm in plans.chickPlans %}
                                            <dd class="col-sm-9">
                                                <a href="{{ path('plan_week_farm', {"date": plans.date|date("Y-m-d"), "farm": farm.id}) }}">
                                                    {{ farm.customer }} - {{ farm.name }}</a>:
                                            </dd>
                                            <dt class="col-sm-3">{{ farm.chicks|number_format(0, ',', ' ') }}</dt>
                                        {% endfor %}
                                    </dl>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="eggs{{ breed }}{{ key }}Modal" tabindex="-1"
                         aria-labelledby="eggs{{ breed }}{{ key }}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="eggs{{ breed }}{{ key }}ModalLabel">
                                        {% trans %}plans.index.chicks{% endtrans %}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <dl class="row">
                                        {% for herd in plans.eggPlans %}
                                            <dd class="col-sm-9">{{ herd.name }}:</dd>
                                            <dt class="col-sm-3">{{ herd.eggs|number_format(0, ',', ' ') }}</dt>
                                        {% endfor %}
                                    </dl>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
