{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}plans.year_plan_site.title{% endtrans %}: {{ year|date('Y') }}</h1>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for breed, week in plans %}
                {% if loop.first %}
                    <button class="nav-link active" id="nav-{{ breed }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ breed }}"
                            type="button" role="tab" aria-controls="nav-{{ breed }}" aria-selected="true">{{ breed }}
                    </button>
                {% else %}
                    <button class="nav-link" id="nav-{{ breed }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ breed }}"
                            type="button" role="tab" aria-controls="nav-{{ breed }}" aria-selected="false">{{ breed }}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% for breed, week in plans %}
            {% if loop.first %}
                <div class="tab-pane fade show active" id="nav-{{ breed }}" role="tabpanel" aria-labelledby="nav-{{ breed }}-tab">
                    {% include('plans/weekPlanSite.html.twig') %}
                </div>
            {% else %}
                <div class="tab-pane fade" id="nav-{{ breed }}" role="tabpanel" aria-labelledby="nav-{{ breed }}-tab">
                    {% include('plans/weekPlanSite.html.twig') %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
