{{ form_start(form) }}
<div class="form-group">
    <label>{{ form_label(form.name) }}</label>
    {{ form_widget(form.name) }}
    <small>{{ form_help(form.name) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.name) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.email) }}</label>
    {{ form_widget(form.email) }}
    <small>{{ form_help(form.email) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.email) }}
    </div>
</div>
<div class="form-group">
    <label>{{ form_label(form.phoneNumber) }}</label>
    {{ form_widget(form.phoneNumber) }}
    <small>{{ form_help(form.phoneNumber) }}</small>
    <div class="form-text text-danger">
        {{ form_errors(form.phoneNumber) }}
    </div>
</div>
{{ include('layout/buttons/create.html.twig', {text: 'egg_supplier.form.button.save'}) }}
{{ form_end(form) }}
