{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1920px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>
            {% trans %}egg_supplier.index.title{% endtrans %}
        </h1>
        {% if is_granted('ROLE_MANAGER') %}
            {{ include('layout/buttons/new.html.twig', {pathLink: path('egg_supplier_new'), text: 'egg_supplier.index.button.new' }) }}
        {% endif %}

        {% include 'layout/tables/thead.html.twig' %}
        <tr>
            <th>{% trans %}egg_supplier.index.table.name{% endtrans %}</th>
            <th>{% trans %}egg_supplier.index.table.email{% endtrans %}</th>
            <th>{% trans %}egg_supplier.index.table.phone_number{% endtrans %}</th>
            <th>{% trans %}egg_supplier.index.table.city{% endtrans %}</th>
            <th>{% trans %}egg_supplier.index.table.street{% endtrans %}</th>
            <th>{% trans %}egg_supplier.index.table.actions{% endtrans %}</th>
        </tr>
        {% include 'layout/tables/tbody.html.twig' %}
        {% for egg_supplier in egg_suppliers %}
            <tr>
                <td>{{ egg_supplier.name }}</td>
                <td>{{ egg_supplier.email }}</td>
                <td>{{ egg_supplier.phoneNumber }}</td>
                <td>{{ egg_supplier.postCode }} {{ egg_supplier.city }}</td>
                <td>{{ egg_supplier.street }} {{ egg_supplier.streetNubmber }}</td>
                <td>
                <span class="button-group">
                    {{ include('layout/buttons/list_show.html.twig',
                        {pathLink: path('egg_supplier_show', {'id': egg_supplier.id})}) }}
                    {% if is_granted('ROLE_MANAGER') %}
                        {{ include('layout/buttons/list_edit.html.twig',
                            {pathLink: path('egg_supplier_edit', {'id': egg_supplier.id})}) }}
                    {% endif %}
                </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    {% trans %}egg_supplier.index.table.no_records{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        {% include 'layout/tables/tfooter.html.twig' %}
        {% include 'layout/tables/tend.html.twig' %}
    </div>
{% endblock %}
