{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            max-width: 500px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {% trans %}egg_supplier.show.title{% endtrans %}
        {% include 'layout/cards/cbody.html.twig' %}
        <h5 class="card-title">{{ egg_supplier.name }}</h5>
        <p class="card-text">
            {% trans %}egg_supplier.show.email{% endtrans %}: {{ egg_supplier.email }}
        </p>
        <p class="card-text">
            {% trans %}egg_supplier.show.phone_number{% endtrans %}: {{ egg_supplier.phoneNumber }}
        </p>
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('egg_supplier/_delete_form.html.twig') }}
            {{ include('layout/buttons/edit.html.twig', {pathLink: path('egg_supplier_edit', {'id': egg_supplier.id}), text: 'egg_supplier.show.button.edit'}) }}
        {% endif %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig', { pathLink: path('egg_supplier_index'), text: 'egg_supplier.show.button.back' }) }}
    <h3>{% trans %}egg_supplier.show.herds.list{% endtrans %}</h3>
    {% include 'herds/list.html.twig' with {'herds': egg_supplier.herds, 'breeder': egg_supplier} %}
{% endblock %}
