{% extends 'base.html.twig' %}

{% block title %}PlanInput{% endblock %}

{% block body %}
    <h1>PlanInput</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan_input.id }}</td>
            </tr>
            <tr>
                <th>ChickNumber</th>
                <td>{{ plan_input.chickNumber }}</td>
            </tr>
            <tr>
                <th>EggNumber</th>
                <td>{{ plan_input.eggNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plan_input_index') }}">back to list</a>

    <a href="{{ path('plan_input_edit', {'id': plan_input.id}) }}">edit</a>

    {{ include('plan_input/_delete_form.html.twig') }}
{% endblock %}
