{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}setters.show.title{% endtrans %}</h1>
    <div class="d-flex justify-content-center card-group">
        {% include 'layout/cards/chead.html.twig' %}
        {{ setter.name }}
        {% include 'layout/cards/cbody.html.twig' %}
        <p class="card-text">
            {% trans %}setters.show.shortname{% endtrans %}
            : {{ setter.shortname }}
        </p>
        {% include 'layout/cards/cfooter.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('setters/_delete_form.html.twig') }}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('layout/buttons/edit.html.twig',
                {pathLink: path('setters_edit', {'id': setter.id}), text: 'setters.show.button.edit'}) }}
        {% endif %}
        {% include 'layout/cards/cend.html.twig' %}
    </div>
    {{ include('layout/buttons/back.html.twig',
        { pathLink: path('setters_index'), text: 'setters.show.button.back' }) }}
{% endblock %}
